<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Anchor</key>
		<string>lgcpb1bc8798</string>
		<key>OpenInHelpViewer</key>
		<true/>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro 帮助</string>
			<key>URL</key>
			<string>help:openbook=com.apple.logic10.help</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro 乐器</string>
			<key>URL</key>
			<string>help:openbook=com.apple.logicinstruments.help</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro 效果</string>
			<key>URL</key>
			<string>help:openbook=com.apple.logiceffects.help</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro 控制表面支持</string>
			<key>URL</key>
			<string>https://help.apple.com/controlsurfacessupport/mac/10.1/</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Path</key>
			<string>/Library/Application Support/Logic/Logic Pro X Demosongs/Helena Beat.logicx</string>
			<key>Title</key>
			<string>Logic Pro 演示项目</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>发布说明</string>
			<key>URL</key>
			<string>http://support.apple.com/kb/TS4498?viewlocale=zh_CN</string>
		</dict>
	</dict>
	<string></string>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro 支持</string>
			<key>URL</key>
			<string>http://www.apple.com/cn/support/logicpro/</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>网上 Logic Pro</string>
			<key>URL</key>
			<string>http://www.apple.com/cn/logicpro</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro 讨论</string>
			<key>URL</key>
			<string>https://discussions.apple.com/community/professional_applications/logic_pro?forumID=1201</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Apple 培训中心（英文）</string>
			<key>URL</key>
			<string>http://training.apple.com/</string>
		</dict>
	</dict>
</array>
</plist>
