<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<dict>
		<key>Alternative - Brooklyn</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>虽然 Gavin 担心在音乐学校的训练会有损他的街头形象，但他使用发声粗狂的套鼓弹奏出复杂的独立硬摇滚乐节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>虽然 Gavin 担心在音乐学校的训练会有损他的街头形象，但他使用发声粗狂的套鼓弹奏出复杂的独立硬摇滚乐节拍。</string>
				<key>DrumKitName</key>
				<string>Brooklyn</string>
				<key>ShortDescription</key>
				<string>发声粗狂的套鼓上的复杂独立硬摇滚节拍。</string>
			</dict>
		</dict>
		<key>Alternative - Disco</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到对迪斯科音乐的热爱和多年 DJ 经验的启发，Nikki 使用经过处理的硬击套鼓弹奏出跳跃、充满摇滚的舞曲节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到对迪斯科音乐的热爱和多年 DJ 经验的启发，Nikki 使用经过处理的硬击套鼓弹奏出跳跃、充满摇滚的舞曲节拍。</string>
				<key>DrumKitName</key>
				<string>Four On the Floor</string>
				<key>ShortDescription</key>
				<string>硬击套鼓上的跳跃、充满摇滚的舞曲节拍。</string>
			</dict>
		</dict>
		<key>Alternative - Garage</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Zak 的活泼、爆发性风格受到了不花哨、严肃摇滚乐的影响。他使用原声套鼓演奏出激荡人心的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>Zak 的活泼、爆发性风格受到了不花哨、严肃摇滚乐的影响。他使用原声套鼓演奏出激荡人心的节拍。</string>
				<key>DrumKitName</key>
				<string>Detroit Garage</string>
				<key>ShortDescription</key>
				<string>原声套鼓上的严肃摇滚节拍。</string>
			</dict>
		</dict>
		<key>Alternative - Portland</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>尽管是一名优秀的 Drummer，Aidan 仍倾向于保守的音乐风格。他有意在原声套鼓上弹奏出简单、独立摇滚风格的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>尽管是一名优秀的 Drummer，Aidan 仍倾向于保守的音乐风格。他有意在原声套鼓上弹奏出简单、独立摇滚风格的节拍。</string>
				<key>DrumKitName</key>
				<string>Portland</string>
				<key>ShortDescription</key>
				<string>发声自然的套鼓上的保守、简单、独立的摇滚节拍。</string>
			</dict>
		</dict>
		<key>Electronic - Boom Bap</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Maurice 是一名嘻哈纯粹主义者，他基于经典的放克和灵魂黑胶唱片中的样本碎拍，通过创作出饶舌、嘻哈的鼓类节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>Maurice 是一名嘻哈纯粹主义者，他基于经典的放克和灵魂黑胶唱片中的样本碎拍，通过创作出饶舌、嘻哈的鼓类节拍。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>基于放克和灵魂样本碎拍，创作出饶舌、嘻哈的鼓类节拍。</string>
			</dict>
		</dict>
		<key>Electronic - EDM</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>作为流行音乐舞蹈节上的焦点，Magnus 创造出雷鸣般的电气浩室节拍向颂歌般的合成主音和贝司低音致敬。</string>
				<key>DescriptionHelpTag</key>
				<string>作为流行音乐舞蹈节上的焦点，Magnus 创造出雷鸣般的电气浩室节拍向颂歌般的合成主音和贝司低音致敬。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>雷鸣般的电气浩室节拍向颂歌般的合成主音和贝司低音致敬。</string>
			</dict>
		</dict>
		<key>Electronic - Electro-Trap</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Ronnie 将来自伦敦本土的地下回响贝斯音和南方嘻哈音乐相结合，创作出令人震撼、充满电音的陷阱节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>Ronnie 将来自伦敦本土的地下回响贝斯音和南方嘻哈音乐相结合，创作出令人震撼、充满电音的陷阱节拍。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>令人震撼、充满电音的陷阱节拍。</string>
			</dict>
		</dict>
		<key>Electronic - Indie Songwriter</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Duncan 将原声鼓样本和电子鼓样本进行叠加，创造出紧凑而充满活力的节拍，从而推动了电子流行乐和 40 大金曲的发展。</string>
				<key>DescriptionHelpTag</key>
				<string>Duncan 将原声鼓样本和电子鼓样本进行叠加，创造出紧凑而充满活力的节拍，从而推动了电子流行乐和 40 大金曲的发展。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>将原声鼓和电子鼓叠加，创造出紧凑而充满活力的电子流行乐节拍和 40 大金曲节拍。</string>
			</dict>
		</dict>
		<key>Electronic - Mainstream Dubstep</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到伦敦地下音乐的启迪和拥有多年重金属鼓手的经验，Jasper 创作出夸张的回响贝斯节拍和爆发性过门。</string>
				<key>DescriptionHelpTag</key>
				<string>受到伦敦地下音乐的启迪和拥有多年重金属鼓手的经验，Jasper 创作出夸张的回响贝斯节拍和爆发性过门。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>夸张的回响贝斯节拍和爆发性过门。</string>
			</dict>
		</dict>
		<key>Electronic - Modern 80s</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Maya 的拍号声仿佛让人回到了 80 年代。她使用古典电子鼓创作出了具有怀旧声效、充满混响的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>Maya 的拍号声仿佛让人回到了 80 年代。她使用古典电子鼓创作出了具有怀旧声效、充满混响的节拍。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>使用 80 年代古典电子鼓创作出具有怀旧声效、充满混响的节拍。</string>
			</dict>
		</dict>
		<key>Electronic - Modern Hip Hop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>作为说唱明星和时尚达人，制作人 Anton 创作出优美而现代的嘻哈节拍，获得了主流商业文化的关注。</string>
				<key>DescriptionHelpTag</key>
				<string>作为说唱明星和时尚达人，制作人 Anton 创作出优美而现代的嘻哈节拍，获得了主流商业文化的关注。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>现代的嘻哈节拍，获得了主流商业文化的关注。</string>
			</dict>
		</dict>
		<key>Electronic - Modern House</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Julian 将现代科技与古典电子鼓相结合，创作出当代浩室节拍以向经典的俱乐部音乐致敬。</string>
				<key>DescriptionHelpTag</key>
				<string>Julian 将现代科技与古典电子鼓相结合，创作出当代浩室节拍以向经典的俱乐部音乐致敬。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>向经典俱乐部音乐致敬的当代浩室节拍。</string>
			</dict>
		</dict>
		<key>Electronic - TechHouse Intensity</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Leah 采用高效、极简的作曲方式，通过紧凑且具有合成音的套鼓创作出精确细腻且巧妙变化的科技浩室节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>Leah 采用高效、极简的作曲方式，通过紧凑且具有合成音的套鼓创作出精确细腻且巧妙变化的科技浩室节拍。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>通过紧凑且具有合成音的套鼓创作出精确细腻且巧妙变化的科技浩室节拍。</string>
			</dict>
		</dict>
		<key>Electronic - Trap</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>从南方嘻哈音乐中获取灵感，Dez 创作出原声陷阱节拍，以活泼的脚鼓和急速的竖钹出名。</string>
				<key>DescriptionHelpTag</key>
				<string>从南方嘻哈音乐中获取灵感，Dez 创作出原声陷阱节拍，以活泼的脚鼓和急速的竖钹出名。</string>
				<key>DrumKitName</key>
				<string>架子鼓名称</string>
				<key>ShortDescription</key>
				<string>以活泼的脚鼓和急速的竖钹而出名的原声陷阱节拍。</string>
			</dict>
		</dict>
		<key>R&amp;B - Downtempo</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到新灵魂乐和古典 R&amp;B 的影响，Rose 使用干声、实体套鼓所弹奏的音乐套路趋向柔和、击边重音。</string>
				<key>DescriptionHelpTag</key>
				<string>受到新灵魂乐和古典 R&amp;B 的影响，Rose 使用干声、实体套鼓所弹奏的音乐套路趋向柔和、击边重音。</string>
				<key>DrumKitName</key>
				<string>Slow Jam</string>
				<key>ShortDescription</key>
				<string>干声、实体套鼓上的趋向柔和、击边重音的 R&amp;B 音乐套路。</string>
			</dict>
		</dict>
		<key>R&amp;B - Motown</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Benny 采用了向经典的摩城音乐致敬的风格。他使用老式套鼓，节拍紧凑，过门很少。</string>
				<key>DescriptionHelpTag</key>
				<string>Benny 采用了向经典的摩城音乐致敬的风格。他使用老式套鼓，节拍紧凑，过门很少。</string>
				<key>DrumKitName</key>
				<string>Motown Revisited</string>
				<key>ShortDescription</key>
				<string>老式套鼓上过门极少，紧凑的节拍。</string>
			</dict>
		</dict>
		<key>R&amp;B - Uptempo</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Curtis 使用其爵士乐技巧改变了现代 R&amp;B 和嘻哈音乐，他使用硬击套鼓弹奏出紧凑的节拍，过门独特。</string>
				<key>DescriptionHelpTag</key>
				<string>Curtis 使用其爵士乐技巧改变了现代 R&amp;B 和嘻哈音乐，他使用硬击套鼓弹奏出紧凑的节拍，过门独特。</string>
				<key>DrumKitName</key>
				<string>Neo Soul</string>
				<key>ShortDescription</key>
				<string>硬击套鼓上的紧凑 R&amp;B 节拍且过门独特。</string>
			</dict>
		</dict>
		<key>Rock - Classic Rock</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到过去传奇偶像鼓手的启发，Logan 使用怀旧声效套鼓弹奏出稀疏、硬击摇滚节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到过去传奇偶像鼓手的启发，Logan 使用怀旧声效套鼓弹奏出稀疏、硬击摇滚节拍。</string>
				<key>DrumKitName</key>
				<string>Retro Rock</string>
				<key>ShortDescription</key>
				<string>怀旧声效套鼓上的稀疏、硬击摇滚节拍。</string>
			</dict>
		</dict>
		<key>Rock - Funk Smash</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到重摇滚乐队和恐怖音乐先驱的启发，Jesse 使用发声紧凑的套鼓弹奏出肆意的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到重摇滚乐队和恐怖音乐先驱的启发，Jesse 使用发声紧凑的套鼓弹奏出肆意的节拍。</string>
				<key>DrumKitName</key>
				<string>Smash</string>
				<key>ShortDescription</key>
				<string>发声紧凑的套鼓上的奔放肆意的节拍。</string>
			</dict>
		</dict>
		<key>Rock - Heavy Rock</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到重金属、即兴摇滚乐队的影响，Anders 使用大型声效套鼓弹奏出尖锐刺耳的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到重金属、即兴摇滚乐队的影响，Anders 使用大型声效套鼓弹奏出尖锐刺耳的节拍。</string>
				<key>DrumKitName</key>
				<string>Heavy</string>
				<key>ShortDescription</key>
				<string>大型声效套鼓上的尖锐刺耳的节拍。</string>
			</dict>
		</dict>
		<key>Rock - PopRock</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>Kyle 主要受到现代摇滚的影响，但也喜欢大多数演奏类型，使用原声多功能套鼓演奏出率性直接的摇滚节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>Kyle 主要受到现代摇滚的影响，但也喜欢大多数演奏类型，使用原声多功能套鼓演奏出率性直接的摇滚节拍。</string>
				<key>DrumKitName</key>
				<string>SoCal</string>
				<key>ShortDescription</key>
				<string>原声多功能套鼓上的率性直接的摇滚节拍。</string>
			</dict>
		</dict>
		<key>Rock - Psychedelic</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到迷幻摇滚和现代流行乐的影响，lan 使用较大的舞台套鼓弹奏处律动、复杂的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到迷幻摇滚和现代流行乐的影响，lan 使用较大的舞台套鼓弹奏处律动、复杂的节拍。</string>
				<key>DrumKitName</key>
				<string>Smash</string>
				<key>ShortDescription</key>
				<string>较大的舞台套鼓上的律动复杂的节拍。</string>
			</dict>
		</dict>
		<key>Rock - Punk</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>来自伯克利 Max 由于受到节奏快而活跃的朋克摇滚的影响，他使用强劲的套鼓弹奏出准确协调而充满活力的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>来自伯克利 Max 由于受到节奏快而活跃的朋克摇滚的影响，他使用强劲的套鼓弹奏出准确协调而充满活力的节拍。</string>
				<key>DrumKitName</key>
				<string>East Bay</string>
				<key>ShortDescription</key>
				<string>强劲的套鼓上的活跃且充满活力的摇滚。</string>
			</dict>
		</dict>
		<key>Singer Songwriter - 60s</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到英伦入侵表演者的影响，Parker 在静音的复古套鼓上弹奏出经典的摇滚节拍和夸张的嗵嗵鼓过门。</string>
				<key>DescriptionHelpTag</key>
				<string>受到英伦入侵表演者的影响，Parker 在静音的复古套鼓上弹奏出经典的摇滚节拍和夸张的嗵嗵鼓过门。</string>
				<key>DrumKitName</key>
				<string>Roots</string>
				<key>ShortDescription</key>
				<string>静音的复古套鼓上的经典摇滚节拍和夸张的嗵嗵鼓过门。</string>
			</dict>
		</dict>
		<key>Singer Songwriter - Experimental</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>敢于尝试且擅长演奏，Graham 结合了多个音乐流派的影响，使用经过处理的声效套鼓，创建了混合类型的节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>敢于尝试且擅长演奏，Graham 结合了多个音乐流派的影响，使用经过处理的声效套鼓，创建了混合类型的节拍。的节拍。</string>
				<key>DrumKitName</key>
				<string>Scientific Method</string>
				<key>ShortDescription</key>
				<string>经过处理的声效套鼓上的混合类型的节拍。</string>
			</dict>
		</dict>
		<key>Singer Songwriter - Funky</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到柔和、欢愉的现代流行乐的启发，Levi 使用发声自然的套鼓弹奏出质朴无华的流行乐节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到柔和、欢愉的现代流行乐的启发，Levi 使用发声自然的套鼓弹奏出质朴无华的流行乐节拍。</string>
				<key>DrumKitName</key>
				<string>Sunset</string>
				<key>ShortDescription</key>
				<string>发声自然的套鼓上的质朴无华的流行乐节拍。</string>
			</dict>
		</dict>
		<key>Singer Songwriter - Modern</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>品味高雅而矜持，且专注于歌曲创作的 Darcy 使用发声自然的套鼓弹奏出简单而高雅的流行乐节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>品味高雅而矜持，且专注于歌曲创作的 Darcy 使用发声自然的套鼓弹奏出简单而高雅的流行乐节拍。</string>
				<key>DrumKitName</key>
				<string>Bluebird</string>
				<key>ShortDescription</key>
				<string>发声自然的套鼓上的简单高雅的流行乐节拍。</string>
			</dict>
		</dict>
		<key>Singer Songwriter - Roots</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Description</key>
				<string>受到美式乡村音乐和经典 R&amp;B 艺术家的启发，Mason 使用老式套鼓弹奏出松弛的节奏蓝调摇滚乐节拍。</string>
				<key>DescriptionHelpTag</key>
				<string>受到美式乡村音乐和经典 R&amp;B 艺术家的启发，Mason 使用老式套鼓弹奏出松弛的节奏蓝调摇滚乐节拍。</string>
				<key>DrumKitName</key>
				<string>Roots</string>
				<key>ShortDescription</key>
				<string>老式套鼓上的松弛、节奏蓝调摇滚乐节拍。</string>
			</dict>
		</dict>
	</dict>
	<key>Genres</key>
	<dict>
		<key>Alternative</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Name</key>
				<string>另类</string>
			</dict>
		</dict>
		<key>Electronic</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Name</key>
				<string>电子乐</string>
			</dict>
		</dict>
		<key>Hip Hop</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Name</key>
				<string>嘻哈</string>
			</dict>
		</dict>
		<key>R&amp;B</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Name</key>
				<string>R&amp;B</string>
			</dict>
		</dict>
		<key>Rock</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Name</key>
				<string>摇滚</string>
			</dict>
		</dict>
		<key>SingerSongwriter</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Name</key>
				<string>原创</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
