<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QuickHelpDefaultFooter</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Text</key>
			<string>请按下 %@ 了解更多信息。</string>
			<key>Title</key>
			<string>快速帮助键盘命令</string>
		</dict>
	</dict>
	<key>QuickHelpDefaultText</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Text</key>
			<string>将指针移到某个项目之上以显示其名称和功能。若要隐藏或显示“快速帮助”，请选取“帮助”&gt;“快速帮助”或者使用键盘命令。</string>
			<key>Title</key>
			<string>欢迎使用快速帮助</string>
		</dict>
	</dict>
</dict>
</plist>
