<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>WindowTitle</key>
<string>CSS</string>
<key>Buttons</key>
<array>
<array>
<dict>
<key>Title</key>
<string>@media…</string>
<key>UUID</key>
<string>C360FE73-009A-44A3-856C-F5DC117E1E19</string>
<key>CommandID</key>
<string>25010</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>media</string>
</dict>

<dict>
<key>Title</key>
<string>@import…</string>
<key>UUID</key>
<string>E7E464C3-89CD-46F6-ACB0-63B0CF269D1C</string>
<key>CommandID</key>
<string>25000</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>import</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Box…</string>
<key>UUID</key>
<string>9BE3893E-F01A-4BE3-8360-741E0FABF072</string>
<key>CommandID</key>
<string>25001</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>box</string>
</dict>

<dict>
<key>Title</key>
<string>Padding…</string>
<key>UUID</key>
<string>4D0EB97B-8770-4220-B13B-505F018296C2</string>
<key>CommandID</key>
<string>25002</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>padding</string>
</dict>

<dict>
<key>Title</key>
<string>Border…</string>
<key>UUID</key>
<string>C991D1CB-006A-4CBE-820D-E84C4115A098</string>
<key>CommandID</key>
<string>25003</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>border</string>
</dict>

<dict>
<key>Title</key>
<string>Margins…</string>
<key>UUID</key>
<string>B8530940-AB47-44AD-967D-928AC4BF1467</string>
<key>CommandID</key>
<string>25004</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>margins</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Layout…</string>
<key>UUID</key>
<string>8958C115-2CE2-4441-9867-F5A82AAD1058</string>
<key>CommandID</key>
<string>25012</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>layout</string>
</dict>

<dict>
<key>Title</key>
<string>Position…</string>
<key>UUID</key>
<string>73BD6DB6-D84D-4683-B2F3-2FF8CE4BD937</string>
<key>CommandID</key>
<string>25013</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>position</string>
</dict>

<dict>
<key>Title</key>
<string>Size &amp; Constraints…</string>
<key>UUID</key>
<string>04B33C9B-83D2-4A5C-ACEF-3CC4E1B2D5BD</string>
<key>CommandID</key>
<string>25014</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>size</string>
</dict>

<dict>
<key>Title</key>
<string>Clipping…</string>
<key>UUID</key>
<string>18F4B3DA-2060-49ED-8099-9F59346DA3AF</string>
<key>CommandID</key>
<string>25015</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>clipping</string>
</dict>

<dict>
<key>Title</key>
<string>Effects…</string>
<key>UUID</key>
<string>2BE88EC5-C9BF-4D68-BE1E-0E9B06BA6E20</string>
<key>CommandID</key>
<string>25016</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>effects</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Background…</string>
<key>UUID</key>
<string>1B51A8BD-E9A2-4264-9424-5057C2B13191</string>
<key>CommandID</key>
<string>25005</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>background</string>
</dict>

<dict>
<key>Title</key>
<string>Font…</string>
<key>UUID</key>
<string>7DFFA65D-749B-4BFE-BEBF-543344EF85CE</string>
<key>CommandID</key>
<string>25006</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>font</string>
</dict>

<dict>
<key>Title</key>
<string>List Style…</string>
<key>UUID</key>
<string>C36F1CA4-D9B3-48CB-B585-530F23A43218</string>
<key>CommandID</key>
<string>25011</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>list_style</string>
</dict>

<dict>
<key>Title</key>
<string>Text…</string>
<key>UUID</key>
<string>6CE398C0-7FAB-4167-A805-CB12290A27E6</string>
<key>CommandID</key>
<string>25007</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>text</string>
</dict>
</array>

<array>
<dict>
<key>Title</key>
<string>Format</string>
<key>UUID</key>
<string>29094370-F335-4187-8A23-9BB556464803</string>
<key>CommandID</key>
<string>25008</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>format</string>
</dict>
</array>


</array>
</dict>
</plist>
