<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>WindowTitle</key>
<string>HTML Tools</string>
<key>Buttons</key>
<array>
<array>
<dict>
<key>Title</key>
<string>New Document</string>
<key>UUID</key>
<string>09C928E6-A5B2-471D-929F-984525049F6F</string>
<key>CommandID</key>
<string>10109</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>new_doc</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Edit Markup…</string>
<key>UUID</key>
<string>9B57DCAA-563D-4638-9076-50F6069453DF</string>
<key>CommandID</key>
<string>20001</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>edit_tag</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Close Current Tag</string>
<key>UUID</key>
<string>D09F30CB-1C53-4B9C-9D84-5656E9F48D94</string>
<key>CommandID</key>
<string>21009</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>close_tag</string>
</dict>

<dict>
<key>Title</key>
<string>Balance Tags</string>
<key>UUID</key>
<string>B75C9393-1B4E-4A98-815E-470074F5C04F</string>
<key>CommandID</key>
<string>21008</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>balance_tags</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Doc Type</string>
<key>UUID</key>
<string>A3C88A21-5997-4DB6-AA01-19FA48935E24</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>220</string>
<key>Icon</key>
<string>doc_type</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Character Set</string>
<key>UUID</key>
<string>418E3747-35F8-42FB-A441-56532325A510</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>221</string>
<key>Icon</key>
<string>character_set</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Body Properties…</string>
<key>UUID</key>
<string>001F333B-B8BD-4B6F-AB71-DDF5D6F067E0</string>
<key>CommandID</key>
<string>20004</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>body_props</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Anchor</string>
<key>UUID</key>
<string>23FC9D49-0CA2-490D-AFCF-6998FDB1C31C</string>
<key>CommandID</key>
<string>20600</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>anchor</string>
</dict>

<dict>
<key>Title</key>
<string>Image</string>
<key>UUID</key>
<string>0FE1AE00-8ACF-4F14-A070-08FBA706A51E</string>
<key>CommandID</key>
<string>20601</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>image</string>
</dict>

<dict>
<key>Title</key>
<string>Break</string>
<key>UUID</key>
<string>4AA89D33-BF41-4A04-8D74-0319A746A6BE</string>
<key>CommandID</key>
<string>20610</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>break</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Paragraph…</string>
<key>UUID</key>
<string>AE535E09-BAF2-4318-B35C-358D9D838CB7</string>
<key>CommandID</key>
<string>20201</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>paragraph</string>
</dict>

<dict>
<key>Title</key>
<string>Div…</string>
<key>UUID</key>
<string>2B7EE096-2B99-481F-880B-D922A6F8B972</string>
<key>CommandID</key>
<string>20202</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>div</string>
</dict>

<dict>
<key>Title</key>
<string>Heading</string>
<key>UUID</key>
<string>A32EEB2F-EFA7-439E-B6E6-9CD4CDC1A700</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>228</string>
<key>Icon</key>
<string>heading</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>List</string>
<key>UUID</key>
<string>9C779F5F-D370-4241-9328-D93DA2339EC5</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>212</string>
<key>Icon</key>
<string>list</string>
</dict>

<dict>
<key>Title</key>
<string>Table</string>
<key>UUID</key>
<string>94F86B8F-FF77-4874-A0B1-27BFEE88B2DD</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>213</string>
<key>Icon</key>
<string>table</string>
</dict>

<dict>
<key>Title</key>
<string>Form</string>
<key>UUID</key>
<string>861DBE86-17F9-4469-A791-0178E4F747E1</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>214</string>
<key>Icon</key>
<string>forms</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Check Syntax</string>
<key>UUID</key>
<string>7784BBD5-105D-450E-B831-1ADF8BAF28EE</string>
<key>CommandID</key>
<string>21000</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>check_syntax</string>
</dict>

<dict>
<key>Title</key>
<string>Check Links</string>
<key>UUID</key>
<string>6A792AFA-CC47-4DDE-888E-23B5DC7F9C0F</string>
<key>CommandID</key>
<string>21001</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>check_links</string>
</dict>
</array>


<array>
<dict>
<key>Title</key>
<string>Preview in BBEdit</string>
<key>UUID</key>
<string>EE231246-A491-4CA2-9765-03408AC06A51</string>
<key>CommandID</key>
<string>20006</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>preview_bbedit</string>
</dict>

<dict>
<key>Title</key>
<string>Preview</string>
<key>UUID</key>
<string>42BBCE41-35E8-4979-8BB6-4450F8B8287E</string>
<key>CommandID</key>
<string>0</string>
<key>MenuID</key>
<string>224</string>
<key>Icon</key>
<string>preview</string>
</dict>
</array>

</array>
</dict>
</plist>
