<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>WindowTitle</key>
<string>Utilities</string>
<key>Buttons</key>
<array>
<array>
<dict>
<key>Title</key>
<string>Format…</string>
<key>UUID</key>
<string>FF60461A-65C5-4D59-A464-FA27EFAE1370</string>
<key>CommandID</key>
<string>21300</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>format</string>
</dict>
</array>

<array>
<dict>
<key>Title</key>
<string>Text to HTML…</string>
<key>UUID</key>
<string>CE2482E4-741E-4141-94BD-29F950DB66CA</string>
<key>CommandID</key>
<string>21311</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>text_to_html</string>
</dict>
<dict>
<key>Title</key>
<string>HTML to Text…</string>
<key>UUID</key>
<string>977EF6E7-3A6A-437D-B761-22872E11E185</string>
<key>CommandID</key>
<string>21312</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>html_to_text</string>
</dict>
</array>

<array>
<dict>
<key>Title</key>
<string>Remove Comments</string>
<key>UUID</key>
<string>CAD250F7-27A5-448F-92BD-C9B7FBF568E0</string>
<key>CommandID</key>
<string>21304</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>remove_comments</string>
</dict>
<dict>
<key>Title</key>
<string>Remove Markup</string>
<key>UUID</key>
<string>501BCF80-FC78-4BE2-B65B-49CEFAB78931</string>
<key>CommandID</key>
<string>21305</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>remove_markup</string>
</dict>
</array>

<array>
<dict>
<key>Title</key>
<string>Un/Comment</string>
<key>UUID</key>
<string>94AB5DDD-6890-4460-95B5-F729AA98F209</string>
<key>CommandID</key>
<string>23301</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>comment</string>
</dict>
</array>

<array>
<dict>
<key>Title</key>
<string>Raise Tag Case</string>
<key>UUID</key>
<string>CB5DC504-37E1-4B9B-B7A6-74940E9CDE97</string>
<key>CommandID</key>
<string>21309</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>raise_tag</string>
</dict>
<dict>
<key>Title</key>
<string>Lower Tag Case</string>
<key>UUID</key>
<string>14B9DCBF-46B9-40BE-9823-1B8843AE887D</string>
<key>CommandID</key>
<string>21310</string>
<key>MenuID</key>
<string></string>
<key>Icon</key>
<string>lower_tag</string>
</dict>
</array>
	</array>
</dict>
</plist>
