CSSBackgroundTop =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Top"; value = "top"; },
	{ title = "Center"; value = "center"; },
	{ title = "Bottom"; value = "bottom"; },
);

CSSBackgroundLeft =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Left"; value = "left"; },
	{ title = "Center"; value = "center"; },
	{ title = "Right"; value = "right"; },
);

CSSMediaTypes =
(
	{ title = "All"; value = "all"; },
	{ title = ""; value = ""; },
	{ title = "Aural"; value = "aural"; },
	{ title = "Braille"; value = "braille"; },
	{ title = "Embossed"; value = "embossed"; },
	{ title = "Handheld"; value = "handheld"; } ,
	{ title = "Print"; value = "print"; },
	{ title = "Projection"; value = "projection"; },
	{ title = "Screen"; value = "screen"; },
	{ title = "TTY"; value = "tty"; },
	{ title = "TV"; value = "tv"; },
);

CSSFontLineHeight =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "Normal"; value = "normal"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSFontSize =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "XX-Small"; value = "xx-small"; },
	{ title = "X-Small"; value = "x-small"; },
	{ title = "Small"; value = "small"; },
	{ title = "Medium"; value = "medium"; },
	{ title = "Large"; value = "large"; },
	{ title = "X-Large"; value = "x-large"; },
	{ title = "XX-Large"; value = "xx-large"; },
	{ title = ""; value = ""; },
	{ title = "Smaller"; value = "smaller"; },
	{ title = "Larger"; value = "larger"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSTextIndent =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSTextVerticalAlignment =
(
	{ title = "Baseline"; value = "baseline"; },
	{ title = "Sub"; value = "sub"; },
	{ title = "Super"; value = "super"; },
	{ title = "top"; value = "top"; },
	{ title = "Text-Top"; value = "text-top"; },
	{ title = "Middle"; value = "middle"; },
	{ title = "Bottom"; value = "bottom"; },
	{ title = "Text-Bottom"; value = "text-bottom"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSTextLineHeight =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "Normal"; value = "normal"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSTextWordOrLetterSpacing =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "Normal"; value = "normal"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSClipping =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Auto"; value = "auto"; },
);

CSSMargins =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Auto"; value = "auto"; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSPosition =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Auto"; value = "auto"; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSConstraints =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Auto"; value = "auto"; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSSizeMin =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSSizeMax =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "None"; value = "none"; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSZIndex =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "Auto"; value = "auto"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSBoxSize =
(
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "em"; value = "0em"; },
	{ title = "rem"; value = "0rem"; },
	{ title = "ex"; value = "0ex"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "vw"; value = "0vw"; },
	{ title = "vh"; value = "0vh"; },
	{ title = "vmin"; value = "0vmin"; },
	{ title = "vmax"; value = "0vmax"; },
	{ title = ""; value = ""; },
	{ title = "Auto"; value = "auto"; },
	{ title = "Inherit"; value = "inherit"; },
);

CSSBorderWeight =
(
	{ title = "Default"; value = "default"; },
	{ title = ""; value = ""; },
	{ title = "pt (point)"; value = "0pt"; },
	{ title = "pc (pica)"; value = "0pc"; },
	{ title = "px (pixel)"; value = "0px"; },
	{ title = ""; value = ""; },
	{ title = "mm (millimeter)"; value = "0mm"; },
	{ title = "cm (centimeter)"; value = "0cm"; },
	{ title = "in (inch)"; value = "0in"; },
	{ title = ""; value = ""; },
	{ title = "%"; value = "0%"; },
	{ title = ""; value = ""; },
	{ title = "Thin"; value = "thin"; },
	{ title = "Medium"; value = "medium"; },
	{ title = "Thick"; value = "thick"; },
	{ title = ""; value = ""; },
	{ title = "Inherit"; value = "inherit"; },
);
