{
	"#!RunScriptPrefs:RunInDebugger" = "RunScriptPrefs_RunInDebugger";
	"#!RunScriptPrefs:RunInShell" = "RunScriptPrefs_RunInShell";
	"#!RunScriptPrefs:SaveBeforeRunning" = "RunScriptPrefs_SaveBeforeRunning";
	"#!RunScriptPrefs:SelectionOnly" = "RunScriptPrefs_SelectionOnly";
	"#!RunScriptPrefs:UseAffrusForPerlDebugging" = "UseAffrusForPerlDebugging";
	"#!RunScriptPrefs:LastScriptFileSpec" = "RunScriptPrefs_LastScriptFileSpec";
	"#!ScriptOutputPrefs:ClearBeforeWriting" = "ScriptOutputPrefs_ClearBeforeWriting";
	"#!ScriptOutputPrefs:OutputWindowType" = "ScriptOutputPrefs_OutputWindowType";
	"#!ScriptOutputPrefs:SaveAfterWriting" = "ScriptOutputPrefs_SaveAfterWriting";
	"ChangeCase:Action" = "ChangeCase_Action";
	"Clipboard:ConvertNonBreakingSpacesWhenPasting" = "Clipboard_ConvertNonBreakingSpacesWhenPasting";
	"Color:Background" = BackgroundColor;
	"Color:Comment" = CommentsColor;
	"Color:CTagsIdentifier" = CtagsIdentifierColor;
	"Color:Foreground" = ForegroundColor;
	"Color:GuideContrast" = "EditingWindowGuideContrast";
	"Color:HighlightInsertionPoint" = "HighlightInsertionPoint";
	"Color:HTMLAnchor" = HTMLAnchorColor;
	"Color:HTMLAttributeName" = "HTMLAttributeNameColor";
	"Color:HTMLAttributeValue" = "HTMLAttributeValueColor";
	"Color:HTMLImage" = HTMLImageColor;
	"Color:HTMLTag" = HTMLTagColor;
	"Color:InsertionPointLineHighlightColor" = "InsertionPointLineHighlightColor";
	"Color:Invisibles:Other" = InvisibleOthersColor;
	"Color:Invisibles:Spaces" = InvisibleSpacesColor;
	"Color:Keywords" = KeywordsColor;
	"Color:NumericConstant" = NumericConstantColor;
	"Color:PredefinedName" = PredefinedNamesColor;
	"Color:PrimaryHighlight" = "PrimaryHighlightColor";
	"Color:SecondaryHighlight" = "SecondaryHighlightColor";
	"Color:String" = StringColor;
	"Color:UseCustomHighlight" = "UseCustomHighlightColor";
	"Color:XMLProcessingInstruction" = "HTMLProcessingDirectiveColor";
	"ContextualMenuItems:ClipboardItems" = ContextMenuClipboard;
	"ContextualMenuItems:DiskBrowsersExportItemsToCMPlugIns" = "DiskBrowsersExportItemsToCMPlugIns";
	"ContextualMenuItems:FoldingItems" = "ContextMenuTextFolding";
	"ContextualMenuItems:MarkerItems" = ContextMenuMarkers;
	"ContextualMenuItems:ProjectsExportItemsToCMPlugIns" = "ProjectsExportItemsToCMPlugIns";
	"ContextualMenuItems:ResolveURLItem" = "ContextMenuResolveURL";
	"ContextualMenuItems:SearchingItems" = "ContextMenuTextSearching";
	"ContextualMenuItems:SelectionItems" = "ContextMenuSaveNewSelection";
	"ContextualMenuItems:SpellingItems" = "ContextMenuSpellChecking";
	"CSSImportEditor:UseURLNotation" = "CSSImportEditor_UseURLNotation";
	"CSSMarkup:NewLineBeforeBrace" = "CSSMarkup_NewLineBeforeBrace";
	"CSSMarkup:OpeningBraces" = "CSSMarkup_OpeningBraces";
	"CSSMarkup:OpeningBracesOnSelectorLine" = "CSSMarkup_OpeningBracesOnSelectorLine";
	"CSSMarkup:PreferShortHexColors" = "CSSMarkup_PreferShortHexColors";
	"CSSMarkup:SimpleRulesOnOneLine" = "CSSMarkup_SimpleRulesOnOneLine";
	"CSSTextEditor:DecorationBlink" = "CSSTextEditor_DecorationBlink";
	"CSSTextEditor:DecorationLineThrough" = "CSSTextEditor_DecorationLineThrough";
	"CSSTextEditor:DecorationNone" = "CSSTextEditor_DecorationNone";
	"CSSTextEditor:DecorationOverline" = "CSSTextEditor_DecorationOverline";
	"CSSTextEditor:DecorationUnderline" = "CSSTextEditor_DecorationUnderline";
	"Debugging:DisableDTDCache" = "Debugging_DisableDTDCache";
	"Debugging:LogCloseFromTimer" = "Debugging_LogCloseFromTimer";
	"Debugging:ToolTips" = "Debugging_ToolTips";
	"Diff:IgnoreRCSKeywords" = "Diff_IgnoreRCSKeywords";
	"DifferencesResults:DifferenceWindowOnTop" = "DifferencesResults_DifferenceWindowOnTop";
	"DifferencesResults:HidePalettes" = "DifferencesResults_HidePalettes";
	"DifferencesResults:KeepWindowsArranged" = "DifferencesResults_KeepWindowsArranged";
	"DifferencesResults:ShowIcons" = "DifferencesResults_ShowIcons";
	"DifferencesResults:TopToBottom" = "DifferencesResults_TopToBottom";
	"DifferencesResults:UseTwoScreens" = "DifferencesResults_UseTwoScreens";
	"DifferencesResults:WhichScreen" = "DifferencesResults_WhichScreen";
	"DiskBrowser:ShowInvisibleItems" = "DiskBrowser_ShowInvisibleItems";
	"DiskBrowser:ShowTextFilesOnly" = "DiskBrowser_ShowTextFilesOnly";
	"DiskBrowser:ShowSCMData" = "DiskBrowser_ShowSCMData";
	"Display:FullPathInFolderMenu" = "Display_FullPathInFolderMenu";
	"Display:FullPathInRecentMenu" = "Display_FullPathInRecentMenu";
	"Display:FullPathInWindowMenu" = "Display_FullPathInWindowMenu";
	"Editing:DefaultTabWidth" = "EditorDefaultTabWidth";
	"Editor:AlwaysOpenQuickFind" = "Editor_AlwaysOpenQuickFind";
	"Editor:AutoCompleteDelay" = "Editor_AutoCompleteDelay";
	"Editor:AutoCompleteEnabled" = "TextCompletionTrigger";
	"Editor:AutoExpandTabs" = EditorAutoExpandTabs;
	"Editor:AutoIndent" = EditorAutoIndent;
	"Editor:AutoIndentAdjustWhitespace" = "TrimLeadingWhitespaceWhenAutoIndenting";
	"Editor:AutoIndentIsBraceAware" = "Editor_AutoIndentIsBraceAware";
	"Editor:AutoWordCountSizeThreshold" = "Editor_AutoWordCountSizeThreshold";
	"Editor:BalanceIncludesDelimiters" = "BalanceIncludesDelimiters";
	"Editor:BalanceWhileTyping" = BalanceWhileTyping;
	"Editor:ControlArrowCamelCase" = "Editor_ControlArrowCamelCase";
	"Editor:ControlArrowHScroll" = "Editor_ControlArrowHScroll";
	"Editor:DeleteIndentationWhitespaceToTabStop" = "Editor_DeleteIndentationWhitespaceToTabStop";
	"Editor:DoubleClickToBalance" = DoubleClickToBalance;
	"Editor:EmacsFloaterWindow" = "DisplayEmacsStatusWindow";
	"Editor:EmacsKeyEmulation" = "EmulateEmacsKeyBindings";
	"Editor:ShiftDelete" = "EnableShiftDeleteAsForwardDelete";
	"Editor:EnterMimicsReturn" = EnterGeneratesReturn;
	"Editor:ExchangeCommandAndOptionForHorizontalNavigation" = "ExchangeCommandAndOptionHorizontal";
	"Editor:ExchangeCommandAndOptionForVerticalNavigation" = "ExchangeCommandAndOptionVertical";
	"Editor:ExtraSpaceAtBottom" = "ExtraSpaceInTextViews";
	"Editor:FixedWidthFontSmoothingThreshold" = "FixedWidthFontSmoothingThreshold";
	"Editor:FontSmoothingThreshold" = "FontSmoothingThreshold";
	"Editor:Gutter" = "EditingWindowShowGutter";
	"Editor:LineNumbers" = "EditingWindowShowLineNumbers";
	"Editor:PageGuide" = "EditingWindowShowPageGuide";
	"Editor:PageGuideWidth" = "EditingWindowPageGuideWidth";
	"Editor:ShowInvisibleCharacters" = "EditorShowInvisibleCharacters";
	"Editor:ShowSpaces" = EditorShowSpaces;
	"Editor:SingleClickLineSelect" = "AllowSingleClickLineSelection";
	"Editor:SoftWrap" = EditorSoftWrap;
	"Editor:SoftWrapIndentMode" = SoftWrapIndentation;
	"Editor:SoftWrapLengthThreshold" = "Editor_SoftWrapLengthThreshold";
	"Editor:SpellCheckLengthLimit" = "Editor_SpellCheckLengthLimit";
	"Editor:SwapYen" = OptionYenBehavior;
	"Editor:SyntaxColor" = EnableSyntaxColoring;
	"Editor:TabStops" = "EditingWindowShowTabStops";
	"Editor:TypeSmartQuotes" = "UseTypographersQuotes";
	"Editor:UseEscapeKeyAsCompletionTrigger" = "UseEscapeKeyAsCompletionTrigger";
	"Editor:UseHardWrapLines" = "UseHardLineNumbersInSoftWrappedViews";
	"Editor:UseNumericKeypadForCursorMovement" = "UseNumericKeypadForCursorMovement";
	"Editor:UseTabKeyForBlockIndent" = AllowTabToIndentText;
	"Editor:UseTabKeyToJumpToNextPlaceholder" = "TabNavigatesPlaceholders";
	"Editor:WindowsStyleHomeEnd" = HomeAndEndKeys;
	"Filing:AskForUnguessableFileEncoding" = "AskForUnguessableFileEncoding";
	"Filing:AutoSaveIntervalInMinutes_v2" = "AutoSaveIntervalInMinutes_v2";
	"Filing:AutoSaveAppState" = AutoSaveAppState;
	"Filing:BackupsPreserveFilenameExtension" = "BackupsPreserveFileNameExtension";
	"Filing:EnableAutoSave_v2" = "EnableAutoSave_v2";
	"Filing:ForceTrailingCarriageReturn" = "EnsureTrailingLineBreak";
	"Filing:KeepHistoricalBackups" = "KeepHistoricalBackups";
	"Filing:LineBreaks" = LineEndType;
	"Filing:LinkEncodingToCharset" = LinkEncodingToCharset;
	"Filing:MakeBackups" = MakeBackup;
	"Filing:StripTrailingWhitespace" = "StripTrailingWhitespace";
	"Filing:WarnMalformedUTF8" = WarnMalformedUTF8;
	"Filing:WatchDocumentsOnDisk" = WatchDocumentsOnDisk;
	"Filing:WriteExtendedAttributes" = "WriteExtendedAttributes";
	"Filing:WriteTextEncodingValue" = "WriteTextEncodingValue";
	"FindDialog:Backwards" = "FindDialog_Backwards";
	"FindDialog:CaseSensitive" = "FindDialog_CaseSensitive";
	"FindDialog:EntireWord" = "FindDialog_EntireWord";
	"FindDialog:ExcludeMatches" = "FindDialog_ExcludeMatches";
	"FindDialog:ImportFindScrapPreservesGrepSetting" = "FindDialog_ImportFindScrapPreservesGrepSetting";
	"FindDialog:LastUsedFilter" = "FindDialog_LastUsedFilter";
	"FindDialog:mode" = "FindDialog_mode";
	"FindDialog:MultiFileSearchOptions" = "FindDialog_MultiFileSearchOptions";
	"FindDialog:RecursiveSearch" = "FindDialog_RecursiveSearch";
	"FindDialog:RememberWindowPosition" = "FindDialog_RememberWindowPosition";
	"FindDialog:SearchInvisibleFolders" = "FindDialog_SearchInvisibleFolders";
	"FindDialog:SelectionOnly" = "FindDialog_SelectionOnly";
	"FindDialog:ShowReplaceResults" = "FindDialog_ShowReplaceResults";
	"FindDialog:SkipShielded" = "FindDialog_SkipShielded";
	"FindDialog:TextFilesOnly" = "FindDialog_TextFilesOnly";
	"FindDialog:UsesFindScrap" = "FindDialog_UsesFindScrap";
	"FindDialog:WrapAround" = "FindDialog_WrapAround";
	"FTP:AutoDisconnectPeriod" = "FTPAutoDisconnectPeriod";
	"FTP:DisablePassiveFTP" = DisablePassiveFTP;
	"FTP:EnableSSHCompression" = EnableSSHCompression;
	"FTP:FTPAbortTimeout" = FTPAbortTimeout;
	"FTP:FTPConnectionTimeout" = FTPConnectionTimeout;
	"FTP:FTPControlTimeout" = FTPControlTimeout;
	"FTP:FTPTransferTimeout" = FTPTransferTimeout;
	"FTP:HideFTPMenuCommands" = HideFTPMenuCommands;
	"FTP:RememberPasswords" = RememberFTPPasswords;
	"FTP:RememberRecentFiles" = "FTPRememberRecentFiles";
	"FTP:SFTPConnectionTimeout" = "SFTPConnectionTimeout";
	"FTP:ShowDotFiles" = ShowFTPDotFiles;
	"FTP:ShowParentDir" = FTPShowParentDir;
	"FunctionPopup:Prototypes" = "FunctionPopup_Prototypes";
	"FunctionPopup:ShowCommentCallouts" = "FunctionMenuShowCommentCallouts";
	"FunctionPopup:SortByName" = "FunctionPopup_SortByName";
	"Glossary:LanguageSensitive" = "ChangeClippingSetToMatchLanguage";
	"HardWrap:CharacterWidth" = "HardWrap_CharacterWidth";
	"HardWrap:ParagraphFill" = "HardWrap_ParagraphFill";
	"HardWrap:ParagraphIndentation" = "HardWrap_ParagraphIndentation";
	"HardWrap:RelativeToFirstLine" = "HardWrap_RelativeToFirstLine";
	"HardWrap:WrapMode" = "HardWrap_WrapMode";
	"HexDump:BlankLineInterval" = "HexDump_BlankLineInterval";
	"HexDump:BlankLines" = "HexDump_BlankLines";
	"HexDump:BytesPerRow" = "HexDump_BytesPerRow";
	"HexDump:DotInPlaceOf8bitCharacters" = "HexDump_DotInPlaceOf8bitCharacters";
	"HexDump:DotInPlaceOfControlCharacters" = "HexDump_DotInPlaceOfControlCharacters";
	"HexDump:DumpMemoryRepresentation" = "HexDump_DumpMemoryRepresentation";
	"HexDump:ResourceFork" = "HexDump_ResourceFork";
	"HTMLAnchorDropMarkup:URLAddressingMode" = "HTMLAnchorDropMarkup_URLAddressingMode";
	"HTMLAnchorMarkup:GenerateIDOrName" = "HTMLAnchorMarkup_GenerateIDOrName";
	"HTMLAnchorMarkup:ShowHTMLAndImageFiles" = "HTMLAnchorMarkup_ShowHTMLAndImageFiles";
	"HTMLAnchorMarkup:URLAddressingMode" = "HTMLAnchorMarkup_URLAddressingMode";
	"HTMLAnchorMarkup:WarmForMissingFile" = "HTMLAnchorMarkup_WarmForMissingFile";
	"HTMLAnchorMarkup:WorkForOutOfScopeFile" = "HTMLAnchorMarkup_WorkForOutOfScopeFile";
	"HTMLAppletMarkup:HAlign" = "HTMLAppletMarkup_HAlign";
	"HTMLAppletMarkup:HasSpace" = "HTMLAppletMarkup_HasSpace";
	"HTMLAppletMarkup:URLAddressingMode" = "HTMLAppletMarkup_URLAddressingMode";
	"HTMLAreaMarkup:NoHREF" = "HTMLAreaMarkup_NoHREF";
	"HTMLAreaMarkup:URLAddressingMode" = "HTMLAreaMarkup_URLAddressingMode";
	"HTMLBaseMarkup:URLAddressingMode" = "HTMLBaseMarkup_URLAddressingMode";
	"HTMLBodyMarkup:HasALinkColor" = "HTMLBodyMarkup_HasALinkColor";
	"HTMLBodyMarkup:HasBGColor" = "HTMLBodyMarkup_HasBGColor";
	"HTMLBodyMarkup:HasLinkColor" = "HTMLBodyMarkup_HasLinkColor";
	"HTMLBodyMarkup:HasTextColor" = "HTMLBodyMarkup_HasTextColor";
	"HTMLBodyMarkup:HasVLinkColor" = "HTMLBodyMarkup_HasVLinkColor";
	"HTMLBodyMarkup:URLAddressingMode" = "HTMLBodyMarkup_URLAddressingMode";
	"HTMLBreakMarkup:HasClear" = "HTMLBreakMarkup_HasClear";
	"HTMLButtonMarkup:GenerateIDOrName" = "HTMLButtonMarkup_GenerateIDOrName";
	"HTMLCharsetMarkup:UseMetaTag" = "HTMLCharsetMarkup_UseMetaTag";
	"HTMLCharsetMarkup:UseXMLDeclaration" = "HTMLCharsetMarkup_UseXMLDeclaration";
	"HTMLCloseCurrentTag:InsertionMode" = "HTMLCloseCurrentTag_InsertionMode";
	"HTMLColorPicker:UseWebSafeColorPicker" = "HTMLColorPicker_UseWebSafeColorPicker";
	"HTMLColorPickerOptions:Size" = "HTMLColorPickerOptions_Size";
	"HTMLColorPickerOptions:View" = "HTMLColorPickerOptions_View";
	"HTMLConvertToTable:FirstItemIsHeader" = "HTMLConvertToTable_FirstItemIsHeader";
	"HTMLConvertToTable:FirstLineIsHeader" = "HTMLConvertToTable_FirstLineIsHeader";
	"HTMLConvertToTable:OneCellPerLine" = "HTMLConvertToTable_OneCellPerLine";
	"HTMLCorePreferences:UseXMLMarkupRulesForHTML5" = "UseXMLMarkupRulesForHTML5";
	"HTMLDocumentTypeMarkup:LastPopupIndex" = "HTMLDocumentTypeMarkup_LastPopupIndex";
	"HTMLEntitiesFloater:InsertMethod" = "HTMLEntitiesFloater_InsertMethod";
	"HTMLEntitiesFloater:SortKey" = "HTMLEntitiesFloater_SortKey";
	"HTMLFormat:EncodeEntitiesInAttributes" = "HTMLFormat_EncodeEntitiesInAttributes";
	"HTMLFormat:FormatModeName" = "HTMLFormat_FormatModeName";
	"HTMLFormat:NormalizeAttributeQuotes" = "HTMLFormat_NormalizeAttributeQuotes";
	"HTMLFormat:NormalizeTagCase" = "HTMLFormat_NormalizeTagCase";
	"HTMLFormLegendMarkup:HasAlign" = "HTMLFormLegendMarkup_HasAlign";
	"HTMLFormMarkup:GenerateIDOrName" = "HTMLFormMarkup_GenerateIDOrName";
	"HTMLFormMarkup:MethodIsGet" = "HTMLFormMarkup_MethodIsGet";
	"HTMLFormTextAreaMarkup:GenerateIDOrName" = "HTMLFormTextAreaMarkup_GenerateIDOrName";
	"HTMLFrameMarkup:Border" = "HTMLFrameMarkup_Border";
	"HTMLFrameMarkup:IsRows" = "HTMLFrameMarkup_IsRows";
	"HTMLFrameMarkup:IsScrolling" = "HTMLFrameMarkup_IsScrolling";
	"HTMLFrameMarkup:NoResize" = "HTMLFrameMarkup_NoResize";
	"HTMLFrameMarkup:ScrollMode" = "HTMLFrameMarkup_ScrollMode";
	"HTMLFrameMarkup:URLAddressingMode" = "HTMLFrameMarkup_URLAddressingMode";
	"HTMLHeadingMarkup:HasAlign" = "HTMLHeadingMarkup_HasAlign";
	"HTMLHorizontalRuleMarkup:HasAlign" = "HTMLHorizontalRuleMarkup_HasAlign";
	"HTMLHorizontalRuleMarkup:HasNoShade" = "HTMLHorizontalRuleMarkup_HasNoShade";
	"HTMLHorizontalRuleMarkup:HasSize" = "HTMLHorizontalRuleMarkup_HasSize";
	"HTMLHorizontalRuleMarkup:HasWidth" = "HTMLHorizontalRuleMarkup_HasWidth";
	"HTMLImageDropMarkup:HasAlign" = "HTMLImageDropMarkup_HasAlign";
	"HTMLImageDropMarkup:HasBorder" = "HTMLImageDropMarkup_HasBorder";
	"HTMLImageDropMarkup:HasSize" = "HTMLImageDropMarkup_HasSize";
	"HTMLImageDropMarkup:HasSpace" = "HTMLImageDropMarkup_HasSpace";
	"HTMLImageDropMarkup:InsertEmptyALTAttribute" = "HTMLImageDropMarkup_InsertEmptyALTAttribute";
	"HTMLImageDropMarkup:kSlammerImageDropAddressingMode" = "HTMLImageDropMarkup_kSlammerImageDropAddressingMode";
	"HTMLImageDropMarkup:UseFilenameForAlternativeText" = "HTMLImageDropMarkup_UseFilenameForAlternativeText";
	"HTMLImageMarkup:FilterImageNames" = "HTMLImageMarkup_FilterImageNames";
	"HTMLImageMarkup:GenerateIDOrName" = "HTMLImageMarkup_GenerateIDOrName";
	"HTMLImageMarkup:HasAlign" = "HTMLImageMarkup_HasAlign";
	"HTMLImageMarkup:HasBorder" = "HTMLImageMarkup_HasBorder";
	"HTMLImageMarkup:HasSize" = "HTMLImageMarkup_HasSize";
	"HTMLImageMarkup:HasSpace" = "HTMLImageMarkup_HasSpace";
	"HTMLImageMarkup:InsertEmptyALTAttribute" = "HTMLImageMarkup_InsertEmptyALTAttribute";
	"HTMLImageMarkup:StyleIndex" = "HTMLImageMarkup_StyleIndex";
	"HTMLImageMarkup:URLAddressingMode" = "HTMLImageMarkup_URLAddressingMode";
	"HTMLImageUpdater:AlwaysUpdateImages" = "HTMLImageUpdater_AlwaysUpdateImages";
	"HTMLImageUpdater:InsertEmptyAltAttribute" = "HTMLImageUpdater_InsertEmptyAltAttribute";
	"HTMLImageUpdater:ProcessNestedFolders" = "HTMLImageUpdater_ProcessNestedFolders";
	"HTMLImageUpdater:SkipShieldedFolders" = "HTMLImageUpdater_SkipShieldedFolders";
	"HTMLImageUpdater:tUpdate1x1Images" = "HTMLImageUpdater_tUpdate1x1Images";
	"HTMLLinkChecker:ProcessNestedFolders" = "HTMLLinkChecker_ProcessNestedFolders";
	"HTMLLinkChecker:SkipShieldedFolders" = "HTMLLinkChecker_SkipShieldedFolders";
	"HTMLLinkChecker:WarnFolderAliases" = "HTMLLinkChecker_WarnFolderAliases";
	"HTMLLinkChecker:WarnIncorrectPathnameCase" = "HTMLLinkChecker_WarnIncorrectPathnameCase";
	"HTMLLinkChecker:WarnOutOfServerScope" = "HTMLLinkChecker_WarnOutOfServerScope";
	"HTMLLinkChecker:WarnRemoteLinks" = "HTMLLinkChecker_WarnRemoteLinks";
	"HTMLLinkMarkup:HasMedia" = "HTMLLinkMarkup_HasMedia";
	"HTMLLinkMarkup:URLAddressingMode" = "HTMLLinkMarkup_URLAddressingMode";
	"HTMLListMarkup:GenerateCloseTags" = "HTMLListMarkup_GenerateCloseTags";
	"HTMLListMarkup:HasType" = "HTMLListMarkup_HasType";
	"HTMLListMarkup:IgnoreBlankLines" = "HTMLListMarkup_IgnoreBlankLines";
	"HTMLListMarkup:IndentItems" = "HTMLListMarkup_IndentItems";
	"HTMLListMarkup:IsCompact" = "HTMLListMarkup_IsCompact";
	"HTMLListMarkup:MarkupItemsOnly" = "HTMLListMarkup_MarkupItemsOnly";
	"HTMLNewDocument:DTDIdentifier" = "HTMLNewDocument_DTDIdentifier";
	"HTMLNewDocument:GiveBBEditCredit" = "HTMLNewDocument_GiveBBEditCredit";
	"HTMLNewDocument:InsertBodyElement" = "HTMLNewDocument_InsertBodyElement";
	"HTMLNewDocument:InsertDoctype" = "HTMLNewDocument_InsertDoctype";
	"HTMLNewDocument:InsertHeadElement" = "HTMLNewDocument_InsertHeadElement";
	"HTMLNewDocument:InsertHTMLElement" = "HTMLNewDocument_InsertHTMLElement";
	"HTMLNewDocument:InsertXMLDeclaration" = "HTMLNewDocument_InsertXMLDeclaration";
	"HTMLObjectMarkup:HasAlign" = "HTMLObjectMarkup_HasAlign";
	"HTMLObjectMarkup:HasBorder" = "HTMLObjectMarkup_HasBorder";
	"HTMLObjectMarkup:HasSpace" = "HTMLObjectMarkup_HasSpace";
	"HTMLObjectMarkup:IsDeclaration" = "HTMLObjectMarkup_IsDeclaration";
	"HTMLObjectMarkup:Size" = "HTMLObjectMarkup_Size";
	"HTMLObjectMarkup:URLAddressingMode" = "HTMLObjectMarkup_URLAddressingMode";
	"HTMLObjectMarkup:UseMap" = "HTMLObjectMarkup_UseMap";
	"HTMLPaletteButtonPrefs:UseShortButtons" = "HTMLPaletteButtonPrefs_UseShortButtons";
	"HTMLParagraphMarkup:HasAlign" = "HTMLParagraphMarkup_HasAlign";
	"HTMLParagraphMarkup:ParagraphsOnSeparateLines" = "HTMLParagraphMarkup_ParagraphsOnSeparateLines";
	"HTMLPreview:PreviewMode" = "HTMLPreview_PreviewMode";
	"HTMLScriptMarkup:Defer" = "HTMLScriptMarkup_Defer";
	"HTMLScriptMarkup:URLAddressingMode" = "HTMLScriptMarkup_URLAddressingMode";
	"HTMLScriptMarkup:WrapInComment" = "HTMLScriptMarkup_WrapInComment";
	"HTMLSelectMarkup:GenerateIDOrName" = "HTMLSelectMarkup_GenerateIDOrName";
	"HTMLSylteMarkup:HasMedia" = "HTMLSylteMarkup_HasMedia";
	"HTMLSylteMarkup:WrapInComment" = "HTMLSylteMarkup_WrapInComment";
	"HTMLSyntaxChecker:PreserveModificationDate" = "HTMLSyntaxChecker_PreserveModificationDate";
	"HTMLSyntaxChecker:ProcessNestedFolders" = "HTMLSyntaxChecker_ProcessNestedFolders";
	"HTMLSyntaxChecker:SkipShieldedFolders" = "HTMLSyntaxChecker_SkipShieldedFolders";
	"HTMLSyntaxChecker:WarnForIgnoredBlocks" = "HTMLSyntaxChecker_WarnForIgnoredBlocks";
	"HTMLSyntaxChecker:WarnForImplicitlyClosedTags" = "HTMLSyntaxChecker_WarnForImplicitlyClosedTags";
	"HTMLSyntaxChecker:WarnForXMLElementsWithoutTrailingSpace" = "HTMLSyntaxChecker_WarnForXMLElementsWithoutTrailingSpace";
	"HTMLTableCaptionMarkup:HasAlign" = "HTMLTableCaptionMarkup_HasAlign";
	"HTMLTableCellPrefs:HasAlign" = "HTMLTableCellPrefs_HasAlign";
	"HTMLTableCellPrefs:HasColor" = "HTMLTableCellPrefs_HasColor";
	"HTMLTableCellPrefs:HasHeight" = "HTMLTableCellPrefs_HasHeight";
	"HTMLTableCellPrefs:HasScope" = "HTMLTableCellPrefs_HasScope";
	"HTMLTableCellPrefs:HasVAlign" = "HTMLTableCellPrefs_HasVAlign";
	"HTMLTableCellPrefs:HasWidth" = "HTMLTableCellPrefs_HasWidth";
	"HTMLTableCellPrefs:Nowrap" = "HTMLTableCellPrefs_Nowrap";
	"HTMLTableMarkup:GenerateTableShell" = "HTMLTableMarkup_GenerateTableShell";
	"HTMLTableMarkup:HasAlign" = "HTMLTableMarkup_HasAlign";
	"HTMLTableMarkup:HasBorder" = "HTMLTableMarkup_HasBorder";
	"HTMLTableMarkup:HasColor" = "HTMLTableMarkup_HasColor";
	"HTMLTableMarkup:HasFrame" = "HTMLTableMarkup_HasFrame";
	"HTMLTableMarkup:HasPadding" = "HTMLTableMarkup_HasPadding";
	"HTMLTableMarkup:HasRules" = "HTMLTableMarkup_HasRules";
	"HTMLTableMarkup:HasSpacing" = "HTMLTableMarkup_HasSpacing";
	"HTMLTableMarkup:HasWidth" = "HTMLTableMarkup_HasWidth";
	"HTMLTableMarkup:LabelCells" = "HTMLTableMarkup_LabelCells";
	"HTMLTableRowPrefs:HasAlign" = "HTMLTableRowPrefs_HasAlign";
	"HTMLTableRowPrefs:HasColor" = "HTMLTableRowPrefs_HasColor";
	"HTMLTableRowPrefs:HasVAlign" = "HTMLTableRowPrefs_HasVAlign";
	"HTMLTableSectionMarkup:HasAlign" = "HTMLTableSectionMarkup_HasAlign";
	"HTMLTableSectionMarkup:HasVAlign" = "HTMLTableSectionMarkup_HasVAlign";
	"HTMLTidy:BreakBeforeBRTag" = "HTMLTidy_BreakBeforeBRTag";
	"HTMLTidy:DiscardCommentsAndOptionsTags" = "HTMLTidy_DiscardCommentsAndOptionsTags";
	"HTMLTidy:DiscardEmptyParagraphs" = "HTMLTidy_DiscardEmptyParagraphs";
	"HTMLTidy:EncloseBlockText" = "HTMLTidy_EncloseBlockText";
	"HTMLTidy:EncloseText" = "HTMLTidy_EncloseText";
	"HTMLTidy:EscapeCDATA" = "HTMLTidy_EscapeCDATA";
	"HTMLTidy:GiveTidyCredit" = "HTMLTidy_GiveTidyCredit";
	"HTMLTidy:IndentAttributes" = "HTMLTidy_IndentAttributes";
	"HTMLTidy:IndentBlockLevelTags" = "HTMLTidy_IndentBlockLevelTags";
	"HTMLTidy:RemoveBogusMarkupItem" = "HTMLTidy_RemoveBogusMarkupItem";
	"HTMLTidy:TidyInputIsXML" = "HTMLTidy_TidyInputIsXML";
	"HTMLTidy:WrapASP" = "HTMLTidy_WrapASP";
	"HTMLTidy:WrapAttributes" = "HTMLTidy_WrapAttributes";
	"HTMLTidy:WrapJSTE" = "HTMLTidy_WrapJSTE";
	"HTMLTidy:WrapPHP" = "HTMLTidy_WrapPHP";
	"HTMLTidy:WrapScriptLiterals" = "HTMLTidy_WrapScriptLiterals";
	"HTMLTidy:WrapSections" = "HTMLTidy_WrapSections";
	"HTMLTranslate:CreateNewDocument" = "HTMLTranslate_CreateNewDocument";
	"HTMLTranslate:EncodeAllUnicodeChars" = "HTMLTranslate_EncodeAllUnicodeChars";
	"HTMLTranslate:EntityEncodeMethod" = "HTMLTranslate_EntityEncodeMethod";
	"HTMLTranslate:IgnoreAngleBrackets" = "HTMLTranslate_IgnoreAngleBrackets";
	"HTMLTranslate:RemoveTags" = "HTMLTranslate_RemoveTags";
	"HTMLTranslate:SelectionOnly" = "HTMLTranslate_SelectionOnly";
	"HTMLTranslate:TranslateDirection" = "HTMLTranslate_TranslateDirection";
	"HTMLTranslate:TranslateEntities" = "HTMLTranslate_TranslateEntities";
	"HTMLTranslate:TranslateParagraphs" = "HTMLTranslate_TranslateParagraphs";
	"HTMLUpdater:AlwaysIncludeSTDERR" = "HTMLUpdater_AlwaysIncludeSTDERR";
	"HTMLUpdater:PreserveModificationDate" = "HTMLUpdater_PreserveModificationDate";
	"HTMLUpdater:ProcessNestedFolders" = "HTMLUpdater_ProcessNestedFolders";
	"HTMLUpdater:SkipShieldedFolders" = "HTMLUpdater_SkipShieldedFolders";
	"Internal:ImADeveloper" = "Internal_ImADeveloper";
	"KeyBindingExternalStorage:version1" = "KeyBindingExternalStorage_version1";
	"KeyBindingExternalStorage:version2" = "KeyBindingExternalStorage_version2";
	"LanguageSpecific:ColorMathStrings:TeX" = "ColorMathStrings_TeX";
	"LanguageSpecific:CommentPrefix" = CommentPrefix;
	"LanguageSpecific:CommentSuffix" = CommentSuffix;
	"LanguageSpecific:DecoratorColor:Python" = PythonDecoratorColor;
	"LanguageSpecific:OpaqueBlockComments:PHP" = "OpaqueBlockComments_PHP";
	"LanguageSpecific:OpaqueHereDoc:PHP" = "OpaqueHereDoc_PHP";
	"LanguageSpecific:OpaqueLineComments:PHP" = "OpaqueLineComments_PHP";
	"LanguageSpecific:OpaqueStrings:PHP" = "OpaqueStrings_PHP";
	"LanguageSpecific:ScanHTMLStringsForFunctions:Python" = "ScanHTMLStringsForFunctions_Python";
	"LanguageSpecific:ScanHTMLStringsForFunctions" = "ScanHTMLStringsForFunctions";
	"LanguageSpecific:ShowAnonymousFunctions:ActionScript" = "ShowAnonymousFunctions_ActionScript";
	"LanguageSpecific:ShowAnonymousFunctions:JavaScript" = "ShowAnonymousFunctions_JavaScript";
	"LanguageSpecific:AllowPrototypeObjectExtend:JavaScript" = "AllowPrototypeObjectExtend_JavaScript";
	"LanguageSpecific:ShowVariablesInFunctionList" = "ShowVariablesInFunctionList";
	"Misc:CodelessPCRETimeout" = "CodelessPCRETimeout";
	"Misc:CodelessPCREStackSize" = "CodelessPCREStackSize";
	"Misc:DisableCtagsScanOnRemoteVolumes" = "DisableCtagsScanOnRemoteVolumes";
	"Misc:DisableSettingsScanOnRemoteVolumes" = "DisableSettingsScanOnRemoteVolumes";
	"Misc:MakeTempProjectForFolderOpen" = "MakeTempProjectForFolderOpen";
	"Misc:OpenDiskBrowserForTarballs" = "OpenDiskBrowserForTarballs";
	"Misc:OpenDiskBrowserForZipFiles" = "OpenDiskBrowserForZipFiles";
	"Misc:ShowSCMDataCommandIsVisible" = "ShowSCMDataCommandIsVisible";
	"Misc:ShowSVNSwitchedItems" = ShowSVNSwitchedItems;
	"Misc:SkipSCMAdminDirsWhenScanningFolders" = "SkipSCMAdminDirsWhenScanningFolders";
	"Misc:UseInlineStylesForCopiedHTML" = "UseInlineStylesForCopiedHTML";
	"MultiDocumentWindows:NewAndOpenPrefersSharedWindow" = "NewAndOpenPrefersSharedWindow";
	"MultiDocumentWindows:OpenFromOtherApplicationPrefersSharedWindow" = "OpenFromOtherApplicationPrefersSharedWindow";
	"NavigationBar:CounterpartButton" = "NavbarShowCounterpartButton";
	"NavigationBar:DocumentNavigation" = "NavbarShowDocumentNavigation";
	"NavigationBar:FunctionPopup" = "NavbarShowFunctionMenu";
	"NavigationBar:IncludePopup" = "NavbarShowIncludedFilesMenu";
	"NavigationBar:MarkerPopup" = NavbarShowMarkerMenu;
	"NumberLines:AddingOrRemoving" = "NumberLines_AddingOrRemoving";
	"NumberLines:InsertSpaceAfterNumber" = "NumberLines_InsertSpaceAfterNumber";
	"NumberLines:KeepTextJustified" = "NumberLines_KeepTextJustified";
	"NumberLines:LineNumberIncrement" = "NumberLines_LineNumberIncrement";
	"NumberLines:StartingLineNumber" = "NumberLines_StartingLineNumber";
	"Perforce:PerforceDoNotUseP4Login" = "PerforceDoNotUseP4Login";
	"PrefixLines:AddingOrRemoving" = "PrefixLines_AddingOrRemoving";
	"PrefixLines:PrefixLinesHistoryLimit" = "PrefixLines_PrefixLinesHistoryLimit";
	"Printing:FramePage" = FramePrintingArea;
	"Printing:LeaveGutter" = PrintOneInchGutter;
	"Printing:ShowFullPath" = PrintFullPathname;
	"Printing:ShowHeaders" = PrintPageHeaders;
	"Printing:ShowLineNumbers" = PrintLineNumbers;
	"Printing:SyntaxColor" = PrintColorSyntax;
	"Printing:TabWidth" = PrintingTabWidth;
	"Printing:TimestampMode" = PrintTimestampMode;
	"Printing:UseDocumentFont" = "PrintUsingDocumentFont";
	"ProcessDuplicateLines:CaseSensitive" = "ProcessDuplicateLines_CaseSensitive";
	"ProcessDuplicateLines:DeleteDuplicateLines" = "ProcessDuplicateLines_DeleteDuplicateLines";
	"ProcessDuplicateLines:IgnoreLeadingWhiteSpace" = "ProcessDuplicateLines_IgnoreLeadingWhiteSpace";
	"ProcessDuplicateLines:MatchesInNewWindow" = "ProcessDuplicateLines_MatchesInNewWindow";
	"ProcessDuplicateLines:MatchesOnClipboard" = "ProcessDuplicateLines_MatchesOnClipboard";
	"ProcessDuplicateLines:ProcessAllMatches" = "ProcessDuplicateLines_ProcessAllMatches";
	"ProcessDuplicateLines:RemainderInNewWindow" = "ProcessDuplicateLines_RemainderInNewWindow";
	"ProcessDuplicateLines:RemainderOnClipboard" = "ProcessDuplicateLines_RemainderOnClipboard";
	"ProcessDuplicateLines:SortNumbersNumerically" = "ProcessDuplicateLines_SortNumbersNumerically";
	"ProcessDuplicateLines:SortUsingPattern" = "ProcessDuplicateLines_SortUsingPattern";
	"ProcessDuplicateLines:SortUsingType" = "ProcessDuplicateLines_SortUsingType";
	"ProcessLinesContaining:CaseSensitive" = "ProcessLinesContaining_CaseSensitive";
	"ProcessLinesContaining:CopyToClipboard" = "ProcessLinesContaining_CopyToClipboard";
	"ProcessLinesContaining:CopyToNewWindow" = "ProcessLinesContaining_CopyToNewWindow";
	"ProcessLinesContaining:DeleteMatchedLines" = "ProcessLinesContaining_DeleteMatchedLines";
	"ProcessLinesContaining:ReportResults" = "ProcessLinesContaining_ReportResults";
	"ProcessLinesContaining:UseGrep" = "ProcessLinesContaining_UseGrep";
	"Projects:OpenItemsOnSingleClick" = "ProjectsOpenItemsOnSingleClick";
	"Projects:ProjectsListCanAcquireKeyboardFocus" = "ProjectsListCanAcquireKeyboardFocus";
	"Projects:RememberOpenDocuments" = "ProjectsRememberOpenDocuments";
	"RecentItems:MostRecentItemsGroupLimit" = "MostRecentItemsGroupLimit";
	"RecentItems:RememberTempFiles" = "RecentItems_RememberTempFiles";
	"Rewrap:CharacterWidth" = "Rewrap_CharacterWidth";
	"Rewrap:LeaveTrailingSpace" = "Rewrap_LeaveTrailingSpace";
	"Rewrap:ParagraphFill" = "Rewrap_ParagraphFill";
	"Rewrap:ParagraphIndentation" = "Rewrap_ParagraphIndentation";
	"Rewrap:RelativeToFirstLine" = "Rewrap_RelativeToFirstLine";
	"Rewrap:RemoveSpaces" = "Rewrap_RemoveSpaces";
	"SCMDifferences:CaseSensitive" = "SCMDifferences_CaseSensitive";
	"SCMDifferences:IgnoreLeadingSpace" = "SCMDifferences_IgnoreLeadingSpace";
	"SCMDifferences:IgnoreTrailingSpace" = "SCMDifferences_IgnoreTrailingSpace";
	"SCMDifferences:IgnoreExtraSpace" = "SCMDifferences_IgnoreExtraSpace";
	"SCMDifferences:IgnoreCurlyQuotes" = "SCMDifferences_IgnoreCurlyQuotes";
	"SCMDifferences:IgnoreRCSKeywords" = "SCMDifferences_IgnoreRCSKeywords";
	"Search:ReportReplaceAllResults" = "ReportReplaceAllResults";
	"Search:FindAgainBackwardsReversesSense" = "FindAgainBackwardsReversesSense";
	"Search:AlwaysFlattenSearchResultsLists" = "AlwaysFlattenSearchResultsLists";
	"SearchSources:ConfiguredWebSites" = "SearchSources_ConfiguredWebSites";
	"SearchSources:DiskBrowsers" = "SearchSources_DiskBrowsers";
	"SearchSources:OpenDocuments" = "SearchSources_OpenDocuments";
	"SearchSources:Projects" = "SearchSources_Projects";
	"SearchSources:RecentFolders" = "SearchSources_RecentFolders";
	"SearchSources:RecentXcodeProjects" = "SearchSources_RecentXcodeProjects";
	"SearchSources:ResultsBrowsers" = "SearchSources_ResultsBrowsers";
	"SearchSources:SavedSearchSets" = "SearchSources_SavedSearchSets";
	"SearchSources:SavedSpotlightSearches" = "SearchSources_SavedSpotlightSearches";
	"Services:AllowAutorepeatForMenuKeyEquivalents" = MenuKeysAutorepeat;
	"Services:AutoSwapCloseShortcuts" = "AutoSwapCloseShortcuts";
	"Services:DontTranslatePDFs" = OpenPDFsAsText;
	"Services:QuickTimeImages" = QuickTimeImages;
	"Services:QuickTimeMovies" = QuickTimeMovies;
	"SortLines:AcccessibilityCheckLevel" = "SortLines_AcccessibilityCheckLevel";
	"SortLines:CaseSensitive" = "SortLines_CaseSensitive";
	"SortLines:IgnoreLeadingWhiteSpace" = "SortLines_IgnoreLeadingWhiteSpace";
	"SortLines:ProcessAllMatches" = "SortLines_ProcessAllMatches";
	"SortLines:ReverseSort" = "SortLines_ReverseSort";
	"SortLines:SortedLinesInNewWindow" = "SortLines_SortedLinesInNewWindow";
	"SortLines:SortedLinesOnClipboard" = "SortLines_SortedLinesOnClipboard";
	"SortLines:SortedLinesReplaceSelection" = "SortLines_SortedLinesReplaceSelection";
	"SortLines:SortNumbersNumerically" = "SortLines_SortNumbersNumerically";
	"SortLines:SortUsingPattern" = "SortLines_SortUsingPattern";
	"SortLines:SortUsingType" = "SortLines_SortUsingType";
	"Spelling:CheckWhileTyping" = "EditorCheckSpellingAsYouType";
	"Spelling:HighlightColor" = SpellingColor;
	"Startup:Action" = "StartupAndResumeAction";
	"Startup:AllowVolumeMount" = "AllowVolumeMountDuringStateRestore";
	"Startup:PromptToReopenRemoteDocuments" = "PromptToReopenRemoteDocuments";
	"Startup:ReopenRemoteDocuments" = "ReopenDocumentsOnRemoteVolumes";
	"Startup:RestoreApplicationState" = "RestoreApplicationStateAtStartup";
	"State:HonorEmacsStateOnOpen" = "HonorEmacsStateOnOpen";
	"State:RememberDocState" = SaveDocumentState;
	"State:SaveStateForTempFiles" = "SaveDocumentStateForTempFiles";
	"State:UseResourceFork" = "UseResourceForkForDocumentState";
	"State:WriteEmacsStateOnSave" = "WriteEmacsStateOnSave";
	"StatusBar:CursorPosition" = "TextStatusBarShowCursorPosition";
	"StatusBar:DocumentIcon" = "ToolbarShowDocumentProxyIcon";
	"StatusBar:InfoButton" = "ToolbarShowDocumentInfoButton";
	"StatusBar:Language" = "TextStatusBarShowLanguageMenu";
	"StatusBar:LineEndingsType" = "TextStatusBarShowLineBreakMenu";
	"StatusBar:SmallIcons" = SmallToolbarIcons;
	"StatusBar:TextEncoding" = "TextStatusBarShowTextEncodingMenu";
	"StatusBar:TextStatistics" = "TextStatusBarShowDocumentStatistics";
	"StatusBar:WindowOptions" = "ToolbarShowTextOptionsMenu";
	"SubversionChooseWorkingCopy:ShowUpdates" = "SubversionChooseWorkingCopy_ShowUpdates";
	"SubversionChooseWorkingCopy:UnlockTargets" = "SubversionChooseWorkingCopy_UnlockTargets";
	"SubversionShowRevisionHistory:LogQuiet" = "SubversionShowRevisionHistory_LogQuiet";
	"SubversionShowRevisionHistory:LogVerbose" = "SubversionShowRevisionHistory_LogVerbose";
	"SubversionShowRevisionHistory:StopOnCopy" = "SubversionShowRevisionHistory_StopOnCopy";
	"TabConversion:DetabWidth" = "TabConversion_DetabWidth";
	"TabConversion:EntabWidth" = "TabConversion_EntabWidth";
	"TextCompletion:AllowClippings" = "UseClippingsForCompletion";
	"TextCompletion:AllowNearbyCtags" = "GenerateCompletionsFromNearbyTagsFiles";
	"TextCompletion:AllowSpellingWords" = "IncludeDictionaryWordsInCompletionList";
	"TextCompletion:AllowTempCtags" = "GenerateTemporaryTagsForCompletion";
	"TextCompletion:AllowTokensFromDocument" = "UseTokensFromDocumentForCompletion";
	"TextCompletion:CtagsCompletionThreshold" = "CtagsCompletionThreshold";
	"TextCompletion:SortResults" = "SortCompletionResultsByName";
	"TextCompletion:SpellingWordCompletionThreshold" = "SpellingWordCompletionThreshold";
	"TextEncoding:EnabledEncodings" = EnabledTextEncodings;
	"Windows:CascadeNewWindows" = CascadeNewWindows;
	"Windows:GroupByKind" = "GroupWindowsMenuByKind";
	"Windows:LeaveRoomForDragThing" = "LeaveRoomForDragThing";
	"Windows:LeaveRoomForPalettes" = LeaveRoomForPalettes;
	"Windows:ListDocumentsUsingHierarchicMenus" = "AllowHierarchicalWindowMenu";
	"Windows:SortByName" = "SortWindowsAndDocumentsByName";
	"Windows:ZoomInPlace" = ZoomWindowsInPlace;
	"ZapGremlins:Action" = "ZapGremlins_Action";
	"ZapGremlins:EightBitCharacters" = "ZapGremlins_EightBitCharacters";
	"ZapGremlins:NullCharacters" = "ZapGremlins_NullCharacters";
	"ZapGremlins:ZapControlCharacters" = "ZapGremlins_ZapControlCharacters";
}
