PromotedAttributesByTag =
{
	"*" = ("id", "class");
	"a" = ("href", "name", "title", "target");
	"area" = ("alt", "coords", "shape", "href");
	"audio" = ("src", "controls", "autoplay");
	"base" = ("href");
	"bdo" = ("dir");
	"blockquote" = ("cite");
	"button" = ("name", "type", "value");
	"canvas" = ("height", "width");
	"col" = ("span");
	"colgroup" = ("span");
	"command" = ("type", "label");
	"embed" = ("src", "type");
	"fieldset" = ("name");
	"form" = ("action", "method", "name");
	"iframe" = ("src");
	"img" = ("src");
	"input" = ("type", "name", "value");
	"keygen" = ("name");
	"label" = ("for");
	"link" = ("rel", "type", "href");
	"map" = ("name");
	"meta" = ("name", "content", "charset", "http-equiv");
	"meter" = ("value", "high", "low", "max", "min", "optimum");
	"object" = ("data", "name", "type");
	"optgroup" = ("label");
	"option" = ("value");
	"output" = ("for", "name");
	"param" = ("name", "value");
	"progress" = ("max", "value");
	"q" = ("cite");
	"script" = ("type", "src");
	"source" = ("type", "src");
	"style" = ("type");
	"time" = ("datetime");
	"video" = ("src", "controls", "autoplay");
};
