<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>books</key>
	<array>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-html</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-html</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.HTML</string>
			<key>SearchURLString</key>
			<string>http://docs.panic.com/#html/*</string>
			<key>Title</key>
			<string>HTML</string>
			<key>URLString</key>
			<string>http://docs.panic.com/#html/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-css</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-css</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.CSS</string>
			<key>SearchURLString</key>
			<string>http://docs.panic.com/#css/*</string>
			<key>Title</key>
			<string>CSS</string>
			<key>URLString</key>
			<string>http://docs.panic.com/#css/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-javascript</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-javascript</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.JavaScript</string>
			<key>SearchURLString</key>
			<string>http://docs.panic.com/#javascript/*</string>
			<key>Title</key>
			<string>JavaScript</string>
			<key>URLString</key>
			<string>http://docs.panic.com/#javascript/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-dom</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-dom</string>
			<key>SearchURLString</key>
			<string>http://docs.panic.com/#dom/*</string>
			<key>Title</key>
			<string>DOM</string>
			<key>URLString</key>
			<string>http://docs.panic.com/#dom/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-jquery</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-jquery</string>
			<key>SearchURLString</key>
			<string>http://docs.panic.com/#jquery/*</string>
			<key>Title</key>
			<string>jQuery</string>
			<key>URLString</key>
			<string>http://docs.panic.com/#jquery/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-php</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-php</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.PHP-HTML</string>
			<key>SearchURLString</key>
			<string>http://docs.panic.com/#php/*</string>
			<key>Title</key>
			<string>PHP</string>
			<key>URLString</key>
			<string>http://docs.panic.com/#php/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-haml</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-haml</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.Haml</string>
			<key>SearchURLString</key>
			<string></string>
			<key>Title</key>
			<string>Haml</string>
			<key>URLString</key>
			<string>http://haml-lang.com/docs/yardoc/file.HAML_REFERENCE.html</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-sass</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-sass</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.Sass</string>
			<key>SearchURLString</key>
			<string></string>
			<key>Title</key>
			<string>Sass</string>
			<key>URLString</key>
			<string>http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-python</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-python</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.Python</string>
			<key>SearchURLString</key>
			<string>http://docs.python.org/search.html?q=*&amp;check_keywords=yes&amp;area=default</string>
			<key>Title</key>
			<string>Python</string>
			<key>URLString</key>
			<string>http://docs.python.org/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-ronr</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-ronr</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.Ruby</string>
			<key>SearchURLString</key>
			<string></string>
			<key>Title</key>
			<string>Ruby on Rails</string>
			<key>URLString</key>
			<string>http://api.rubyonrails.org/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-coldfusion</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-coldfusion</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.CFML</string>
			<key>SearchURLString</key>
			<string>http://cfquickdocs.com/cf9/?getDoc=*</string>
			<key>Title</key>
			<string>ColdFusion</string>
			<key>URLString</key>
			<string>http://www.cfquickdocs.com/cf8/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-lasso</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-lasso</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.LassoScript-HTML</string>
			<key>SearchURLString</key>
			<string>http://www.lassosoft.com/lassoDocs/languageReference?q=*</string>
			<key>Title</key>
			<string>Lasso</string>
			<key>URLString</key>
			<string>http://www.lassosoft.com/LassoDocs/LanguageReferenceCategories</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-mysql</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-mysql</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.SQL</string>
			<key>SearchURLString</key>
			<string>http://search.oracle.com/search/search?group=MySQL&amp;q=*</string>
			<key>Title</key>
			<string>MySQL</string>
			<key>URLString</key>
			<string>http://dev.mysql.com/doc/</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-subversion</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-subversion</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.Subversion</string>
			<key>SearchURLString</key>
			<string>http://www.google.com/search?q=site:svnbook.red-bean.com%20*</string>
			<key>Title</key>
			<string>Subversion</string>
			<key>URLString</key>
			<string>http://svnbook.red-bean.com/en/1.5/index.html</string>
		</dict>
		<dict>
			<key>CoverImage</key>
			<string>books-cover-git</string>
			<key>ToolbarImage</key>
			<string>books-toolbar-git</string>
			<key>ModeIdentifier</key>
			<string>SEEMode.Git</string>
			<key>SearchURLString</key>
			<string>http://git-scm.com/search/results?search=*</string>
			<key>Title</key>
			<string>Git</string>
			<key>URLString</key>
			<string>http://git-scm.com/book</string>
		</dict>
	</array>
</dict>
</plist>
