div.matt {
  padding: 0.1cm;
  background-color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 150%;
  padding-left: 25px;
  padding-right: 25px;
}
div.matt a:visited, div.matt a:link {
  color: #ea1432;
}
div.matt a:hover {
  background: yellow;
}
div.matt a:hover img {
  background: inherit;
}
div.matt img {
  max-width: 100%;
  height: auto;
}
div.matt img.note {
  position: absolute;
  left: 0px;
  padding: 0px 7px;
}
div.matt li {
  margin-top: 5px;
  margin-bottom: 5px;
}
div.matt dt, div.matt dd, div.matt p, div.matt td, div.matt li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
div.matt dl {
  margin-left: 10px;
}
div.matt dt {
  font-style: italic;
}
div.matt dd {
  margin-bottom: 5px;
}
div.matt td {
  padding: 5px;
}
div.matt tt, div.matt pre, div.matt code {
  font-family: Verdana, Menlo, Monaco, Courier, monospace;
  font-weight: bold;
  color: #0000b4;
  font-size: inherit;
}
div.matt pre {
  padding-left: 2em;
}
div.matt pre code {
  font-weight: normal;
}
div.matt blockquote {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 50px;
  padding-left: 5px;
  border-left: 5px solid #999;
}
div.matt blockquote tt, div.matt blockquote code {
  font-family: Verdana, Menlo, Monaco, Courier, monospace;
  font-weight: bold;
  color: #0000b4;
  font-size: inherit;
}
div.matt blockquote p, div.matt blockquote li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
div.matt span.expandable:before {
  content: "+ ";
}
div.matt span.collapsable:before {
  content: "- ";
}
div.matt div.indent {
  padding-left: 20px;
  display: block;
}
div.matt div.breadcrumbs {
  page-break-before: always;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
div.matt div.breadcrumbs td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
div.matt div.titlebar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
div.matt div.titlebar tr {
  background-color: #FFCC66;
}
div.matt div.nextprevs {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
div.matt div.nextprevs tr {
  background-color: white;
}
div.matt div.subs td.subs {
  background-color: #FFFFCC;
  vertical-align: middle;
  padding: 10px;
}
div.matt a.external {
  text-decoration: none;
  border-bottom: 3px double;
}
div.matt div.menus dt {
  font-weight: bold;
  font-style: normal;
}
div.matt div.lite {
  border: 2px solid black;
  padding: 2px 10px;
  margin: 10px;
}
