<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identities</key>
	<array>
		<dict>
			<key>Value</key>
			<array/>
			<key>Code</key>
			<integer>1</integer>
			<key>Name</key>
			<string>在校学生</string>
		</dict>
		<dict>
			<key>Value</key>
			<array/>
			<key>Code</key>
			<integer>2</integer>
			<key>Name</key>
			<string>固定工作者</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>自由职业者</string>
			<key>Code</key>
			<integer>3</integer>
			<key>Value</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>待业/无业/失业</string>
			<key>Code</key>
			<integer>4</integer>
			<key>Value</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>退休</string>
			<key>Code</key>
			<integer>5</integer>
			<key>Value</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>其他</string>
			<key>Code</key>
			<integer>6</integer>
			<key>Value</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
