/* CSS task.css*/
/*Version 2.3 2-17-09*/

/* START INTRO, TASK, OUTRO STYLES*/

#introbox {
	margin-top: 0;
	margin-bottom: 0px;
}

#introauxlist, #outroauxlist {
	margin-top: 9px;
	margin-bottom: 0px;
}

#introauxart, #outroauxart {
	margin-top: 9px;
	margin-bottom: 0px;
}

.introauxlink, .outroauxlink {
	margin-top: 9px;
	margin-bottom: 0px;
}

.introauxoption, outroauxoption {
	margin-top: 0px;
	margin-bottom: 0px;
}

#introauxoptionbulletlongtext ol, #outroauxoptionbulletlongtext ol {
	margin-top: 0px;
	margin-bottom: 0px;
}

#introauxoptionbulletlongtext li, #outroauxoptionbulletlongtext li {
	font-size: 18px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	left: -19px;
	line-height: 18px;
	text-indent: -1px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

.introauxlinksubbullet, outroauxlinksubbullet {
	position: relative;
	margin-top: 9px;
	margin-bottom: 0px;
	margin-left: 16px;
}

.introauxoptionbulletlongimage, .outroauxoptionbulletlongimage {
	position: relative;
	left: -25px;
	padding-top: 9px;
	padding-bottom: 8px;
}

.introauxartsubbullet {
	margin-left: 16px;
	
}

.introprimtext, outroprimtext {
	margin-top: 0px;
	margin-bottom: 0px;
}
.introprimtext p {
	margin-top: 9px;
}
.introauxartshorttext, .outroauxartshorttext {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.introwarning, .introimportant, .intronote, .intronotice, .outrowarning, .outroimportant, .outronote, .outronotice {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.introwarningprefix, .introimportantprefix, .intronoteprefix, .intronoticeprefix, .outrowarningprefix, .outroimportantprefix, .outronoteprefix, .outronoticeprefix {
	position: relative;
	left: 0px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 5px;
	text-transform: uppercase;
	line-height: 16px;
	word-spacing: -2pt;
	letter-spacing: 1pt;
}

.introwarninglongtext, .introimportantlongtext, .intronotelongtext, .intronoticelongtext,  .outrowarninglongtext, .outroimportantlongtext, .outronotelongtext, .outronoticelongtext {
	margin-top: 18px;
	margin-bottom: 0px;
	position: relative;
	left: 0px;
}

.introwarningsubbullet, .introimportantsubbullet, .intronotesubbullet, .intronoticesubbullet, .outrowarningsubbullet, .outroimportantsubbullet, outronotesubbullet, .outronoticesubbullet {
	padding-top: 0px;
}

pre {
	margin-top: 0px;
	margin-bottom: 0px;
}

.introauxcode, .outroauxcode, .taskauxcode {
	position: relative;
	left: 0px;
	font-size: 9pt;
	line-height: 12pt;
	margin-top: 9px;
	margin-bottom: 0px;
}


.introauxpair, .outroauxpair {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.introauxpairshorttext, .outroauxpairshorttext {
	position: relative;
	left: 0px;
	font-weight: bold;
	margin-top: 9px;
	margin-bottom: 0px;
	padding-right: 2px;
}

.introauxpairlongtext, .outroauxpairlongtext {
	margin-top: 9px;
	margin-bottom: 0px;
	position: relative;
	left: 0px;
}


#art1 {
	margin-top: 4px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

#art2 {
	margin-top: 0px;
	padding-bottom: 12px;
}

.taskcontent {
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: left;
}

h2 {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 1px;
	padding-bottom: 1px;
}

.taskprimtextlongtext {
	margin-top: 18px;
	margin-bottom: 12px;
}	

.taskauxcontent {
	margin-left: 0px;
	margin-right: 0px;
}

.taskauxoptionintrolongtext, .taskauxoptionlongtext, .taskauxartshorttext, p.taskauxoptionintrolongtext, p.taskauxoptionlongtext, p.taskauxartshorttext {
	margin-top: 9px;
	margin-bottom: 9px;
}

ul li:before {
/*	content: counter(mycounter, square) "";*/
	color : #666;
	font-size : 100%;
	position: relative;
	top: -.05em;
	float: left;
	margin-right : .25em;
	margin-left : -1.2em;
	margin-bottom: 0em;
} 

#taskauxlistbulleted li:before {
	content: counter(mycounter, square) "";
	color : #666;
	font-size : 100%;
	position: relative;
	top: -.05em;
	float: left;
	margin-right : .25em;
	margin-left : -1.3em;
	margin-bottom: 0em;
} 

.tasklistbulleted_ li:before {
	content: counter(mycounter, square) "";
/*	color : #666;*/
/*	font-size : 100%;*/
	position: relative;
	top: -.05em;
	float: left;
	margin-right : .25em;
	margin-left : -1.35em;
	margin-bottom: 0em;
} 

.taskauxbullet {
	list-style-position: inside;
	list-style-type: none;	
}

.taskauxlinkplain {
	position: relative;
	left: 0px;
}

.taskauxlinksubbullet {
	position: relative;
	left: -16px;
}

.taskauxlinksubnumber {
	position: relative;
	left: -5px;
}

.taskauxlinktext {
	position: relative;
	left: 1px;
	margin-top: 9px;
	padding-bottom: 0px;
}

.taskauxlinkshowall {
	font-size: 10px;
	font-weight: bold;
	margin-left: 52px;
	margin-right: 45px;
	margin-top: 0px;
	text-transform: uppercase;
	overflow: visible;
}

/* This .text style is only used in for Bullet lists */
.text, p.text {
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	margin-top: 0px;
	position: relative;
	text-indent: 0px;
	left: -3px;
	top: 0px;
}


/* This .text style is only used in for Number lists */
.tasklistnumbered p {
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
/*	font-size: 12px;*/
	text-align: left;
	line-height: 18px;
	margin-top: 9px;
	position: relative;
	text-indent: 0px;
	left: 0px;
	top: 0px;
}

/* This style is used when a list item <li> has multiple paragraphs of text */
.listparagraph, p.listparagraph {
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	margin-top: 9px;
	padding-bottom: 0px;
	position: relative;
	text-indent: 0px;
	left: -6px;
	top: 0px;
}

#taskauxlistnumber ol, ol.tasklistnumbered, #taskauxlistbulleted ol, .tasklistbulleted ol {
	padding-top: 0px;
	padding-bottom: 0px;
}


#taskauxlistnumbered li, .tasklistnumbered li {
	list-style-position: outside;
	list-style-type: decimal;
	position: relative;
	left: -20px;
	padding-top: 0px;
	padding-right: 15px;
	margin-top: 18px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

#taskauxlistbulletedplain li {
	position: relative;
	left: -14px;
	font-size: 18px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

#taskauxlistbulleted li {
	position: relative;
	left: -38px;
	font-size: 18px;
	line-height: 16px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

.tasklistbulleted li {
/*	font-size: 18px;*/
/*	color: #666;*/
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	left: -13px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

.tasklistbulleted ul {
/*	font-size: 18px;*/
/*	color: #666;*/
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding-left: -13px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

#taskauxoptionlonglistnumbertext li {
	line-height: 18px;
	list-style-position: outside;
	list-style-type: decimal;
	position: relative;
	left: 0px;
	padding-right: 15px;
	text-indent: 0px;
	margin-top: 9px;
	margin-bottom: 9px;
	margin-left: -20px;
	width: 100%;
}

#taskauxoptionbulletlongtext li {
	position: relative;
	left:0;
	font-size: 18px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	left: -40px;
	text-indent: -3px;
	text-align: left;
	vertical-align: bottom;
}

#taskauxlistsubnumber li {
	font-size: 18px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	left: -37px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

.taskauxartbullet,.taskauxpairbullet,.taskauxcodebullet, .taskcommentbullet {
	position: relative;
	left: -19px;
	margin-top: 9px;
	margin-bottom: 0px;
}
.taskauxlinkbullet {
	position: relative;
	left: -20px;
	margin-top: 9px;
	margin-bottom: 0px;
}
 
.taskauxartplain {
	position: relative;
	left: 0px;
	padding-top: 9px;
	padding-bottom: 0px;
}

.taskauxartsubplain {
	position: relative;
	left: 21px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.taskauxartsubnumber {
	position: relative;
	left: -3px;
	padding-top: 9px;
	padding-bottom: 0px;
}

.taskauxartsubbullet {
	position: relative;
	left: -25px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.taskauxartsubnumbersubbullet {
	position: relative;
	left: -2px;
	top: -2px;
	padding-top: 18px;
	padding-bottom: 0px;
}

.taskauxoptionlongtextimage {
	position: relative;
	left: -25px;
	padding-top: 9px;
	padding-bottom: 0px;
}

.taskauxlink {
	position: relative;
	left: 0px;
	padding-right: 15px;
	margin-top: 9px;
	margin-bottom: 9px;
	width: 100%;
}

.taskauxoptionlonglistnumberimage {
	position: relative;
	left: 0px;
	padding-top: 0px;
	padding-bottom: 9px;
}

.taskauxoptionbulletlongimage {
	position: relative;
	padding-top: 0px;
	padding-bottom: 9px;
}

.taskauxoptionoutrolongtext {
	padding-top: 9px;
}

.taskauxpair {
	position: relative;
	left: -17px;
}

/*. {
	position: relative;
	left: 0px;
}
*/
.taskauxpairshorttext {
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 6px;
	position: relative;
	left: 0px;
}

.taskauxpairlongtext {
	margin-top: 6px;
	margin-bottom: 6px;
}

.taskwarningsubbullet, .taskimportantsubbullet, .tasklegalsubbullet, .tasknotesubbullet, .tasknoticesubbullet {
	position: relative;
	left: -17px;
	margin-bottom: 0px;
}

.taskwarninglongtext, .taskimportantlongtext, .tasknotelongtext, .tasknoticelongtext, .tasklegallongtext {
	position: relative;
	left: 0px;
	margin-top: 0px;
}

.taskcommentsubnumber {
	position: relative;
	left: -4px;
	margin-top: 9px;
}

.taskcommentsubplain .taskauxpairplain {
	position: relative;
	left: 0px;
}

.taskauxartnumber, .taskauxlinknumber, .taskauxpairnumber, .taskauxcodenumber, .taskcommentnumber,.taskwarningsubnumber, .taskimportantsubnumber, .tasklegalsubnumber, .tasknotesubnumber, .tasknoticesubnumber {
	position: relative;
	left: -20px;
	margin-top: 9px;
	margin-bottom: 0px;
}

.taskcommentplain, .taskwarningplain, .taskimportantplain, .tasklegalplain, .tasknoteplain, .tasknoticeplain {
	position: relative;
	margin-bottom: 8px;
}

.taskwarningprefix, .taskimportantprefix, .tasklegal, .tasknoteprefix, .tasknoticeprefix {
	font-size: 11px;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 9px;
	padding-right: 4px;
	text-transform: uppercase;
	line-height: 16px;
	word-spacing: -2pt;
	letter-spacing: 1pt;

}

.taskauxcodesubbullet {
	position: relative;
	left: -16px;
	font-size: 9pt;
	line-height: 12pt;
	margin-top: 9px;
	margin-bottom: 9px;
}

.taskauxcodesubnumber {
	position: relative;
	left: -18px;
	font-size: 9pt;
	line-height: 12pt;
	margin-top: 9px;
	margin-bottom: 9px;
}

#outrobox {
	margin-top: 20px;
	margin-bottom: 0px;
}

/* End Intro, Task, Outro Styles */

/* TASKBOX WRAPPERS */

.taskbox {
	margin-top: 18px;
	margin-bottom: 18px;
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 17px;
	padding-bottom: 7px;
	text-align: left;
	
	background-color: #FFFFFF;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border: 1px solid #d7d7d7;
	
	-webkit-box-shadow: 0px 2px 4px #CCCCCC;
	-webkit-border-radius: 12px;
}

/* End TASKBOX Style */

/* START RULE STYLES*/


#rule {
	margin-top: 22px;
	margin-bottom: 0px;
}

hr {
	background-color: #F6F6F6;
	background-repeat: repeat-x;
	height: 2px;
	width: 100%;
	border-top: 1px solid #D0D0D0;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 0px;
	margin-bottom: 9px;
}

/* End Rule Styles */

/* RELATED TOPICS STYLES */

h3 {
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	line-height: 12pt;
	margin-top: 0px;
	margin-bottom: 3px;
	text-align: left;
}

#linkinternalbox, #linkexternalbox {
	margin-top: 22px;
	margin-bottom: 5px;
}

/* START FEEDBACK STYLES */

#linkfeedbackbox {
	margin-top: 23px;
	margin-bottom: 0px;

}

.linkinternal, .linkexternal {
	margin-top: 0px;
	margin-bottom: 1px;
}

.linkfeedback {
	color: #333;
	margin-top: 0px;
	margin-bottom: 1px;
}
.taskbox img {
	margin-top:15px;
}
/* End Feedback Styles */

#inlineimg {
	margin:0px;
	vertical-align: middle;
}

h4 {
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	line-height: 12pt;
	margin-top: 20px;
	margin-bottom: 3px;
	text-align: left;
}