<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenInHelpViewer</key>
		<true/>
		<key>Anchor</key>
		<string>lgcpb1bc8798</string>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro Help</string>
			<key>URL</key>
			<string>help:openbook=com.apple.logic10.help</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro Instruments</string>
			<key>URL</key>
			<string>help:openbook=com.apple.logicinstruments.help</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro Effects</string>
			<key>URL</key>
			<string>help:openbook=com.apple.logiceffects.help</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro Control Surfaces Support</string>
			<key>URL</key>
			<string>https://help.apple.com/controlsurfacessupport/mac/10.1/</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Path</key>
			<string>/Library/Application Support/Logic/Logic Pro X Demosongs/Helena Beat.logicx</string>
			<key>Title</key>
			<string>Logic Pro Demo Project</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Release Notes</string>
			<key>URL</key>
			<string>http://support.apple.com/kb/TS4498</string>
		</dict>
	</dict>
	<string></string>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro Support</string>
			<key>URL</key>
			<string>http://www.apple.com/support/logicpro/</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro on the Web</string>
			<key>URL</key>
			<string>http://www.apple.com/logicpro</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Logic Pro Discussions</string>
			<key>URL</key>
			<string>https://discussions.apple.com/community/professional_applications/logic_pro?forumID=1201</string>
		</dict>
	</dict>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Title</key>
			<string>Apple Training Centers</string>
			<key>URL</key>
			<string>http://training.apple.com/</string>
		</dict>
	</dict>
</array>
</plist>
