/* CSS ref.css */
/* Leveraged from launchpad.css plus table styles */
/* Version 1.7 4-03-07 */
#apple-pd {
	margin-top: 2px;
	margin-right: 15px;
	margin-left: 15px;
}
/* Gray banner tags */
#navbox { 
	background-color: #C0C0C0; 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 1.2em; 
	float: left; 
    border: solid 1px #bfbfbf;
	padding-top: -2px; 6px 0;
    position: fixed
}
#navleftbox { 
	position: absolute; 
	top: 1px; 
	left: 15px 
}
#navrightbox { 
	background-color: #C0C0C0; 
	padding-right: 25px; 
	float: right; 
	padding-bottom: 1px; 
	border-left: 1px solid #bfbfbf
}
.navlink_left   { 
	font-size: 8pt; 
	color: #006A71; 
	font-weight: normal; 
	margin: -9px 0 -6px
}
.navlink_right     { 
	font-size: 8pt; 
	font-weight: normal; 
	color: #006A71; 
	margin-left: 8px;  
 }
/* end Gray banner tags */
#headerbox {
	margin-top: 36px;
	padding-right: 6px
}
#iconbox {
	margin-bottom: -3px;
	float: left
}
#iconimg { }
a {
	color: #006A71;
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	line-height: 12pt;
	text-decoration: none;
}
a:hover {
	color: #006A71;
    font-family: "Lucida Grande", Arial, sans-serif;
	text-decoration: underline;
}
#pagetitle {
	margin-left: 40px;
	width: 88%;
	border: solid 1px #fff
}
#pagetitle_noicon {
	margin-left: 0px;
	width: 88%;
	border: solid 1px #fff
}
h1 {
	font-size: 13pt;
	line-height: 15pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 0;
}
/* Intro, outro and task tags */
#introbox {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 19px;
	padding-bottom: 12px;
}
.introprimtext, .outroprimtext, .introauxoption, .outroauxoption, .taskauxoption, .taskauxlink {
	margin-top: 0px;
	margin-bottom: 0px;
}
.introprimtextlongtext, .outroprimtextlongtext, .taskprimtextlongtext, .taskauxoptionlongtext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	text-decoration: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 8px;
}
.introauxlist, .outroauxlist { }
.introauxbullet, .outroauxbullet {
	float: left;
	color: #778FBD;
	font-size: 7pt;
	line-height: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.taskwarningsubbullet, .taskimportantsubbullet, .tasknotesubbullet, .tasknoticesubbullet, .taskauxartsubbullet, .taskauxlinksubbullet, .introauxlinksubbullet, .outroauxlinksubbullet, .introartsubbullet, .outroartsubbullet, .introwarningsubbullet, .introimportantsubbullet, .outroimportantsubbullet, .intronoticesubbullet, .outronoticesubbullet, .intronotesubbullet, .outronotesubbullet, .outrowarningsubbullet {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 8px;
}
.introauxcontent, .outroauxcontent, .taskauxcontent, .taskauxlinktext {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.introauxoptionlongtext, .outroauxoptionlongtext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	text-decoration: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 8px;
}
.introauxlink, .outroauxlink, .introauxart, .outroauxart, .taskauxart, .introauxpair, .taskauxpair, .outroauxpair {
	margin-top: 0px;
	margin-bottom: 8px;
}
.introauxcode, .outroauxcode, .taskauxcode {
	font-size: 9pt;
	line-height: 12pt;
}
.introauxartshorttext, .taskauxartshorttext, .outroauxartshorttext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	margin-top: 0px;
	margin-bottom: 8px;
}
.introwarning, .introimportant, .intronote, .intronotice, .taskwarning, .taskimportant, .tasknote, .tasknotice, .outrowarning, .outroimportant, .outronote, .outronotice {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 8px;
}
.introwarningprefix, .introimportantprefix, .intronoteprefix, .intronoticeprefix, .taskwarningprefix, .taskimportantprefix, .tasknoteprefix, .tasknoticeprefix, .outrowarningprefix, .outroimportantprefix, .outronoteprefix, .outronoticeprefix {
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: 0.1em;
	color: #778FBD;
	text-transform: uppercase;
}
.introwarninglongtext, .introimportantlongtext, .intronotelongtext, .intronoticelongtext, .taskwarninglongtext, .taskimportantlongtext, .tasknotelongtext, .tasknoticelongtext, .outrowarninglongtext, .outroimportantlongtext, .outronotelongtext, .outronoticelongtext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	text-decoration: none;
}
.introauxpairshorttext, .outroauxpairshorttext, .taskauxpairshorttext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	line-height: 12pt;
}
.introauxpairlongtext, .outroauxpairlongtext, .taskauxpairlongtext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
}
/* end Intro, outro and task tags*/
#art1 {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8px;
}
/* Taskbox art */
.border_top {
    height:15px;
    background: url(../gfx/border_top.gif) repeat-x;
}
.border_topleft {
    width:21px;
    height:15px;
    float:left;
    background: url(../gfx/border_topleft.gif) no-repeat;
}
.border_topright {
    width:17px;
    height:15px;
    float:right;
    background: url(../gfx/border_topright.gif) no-repeat;
}
.border_left {
    height:100%;
    background: url(../gfx/border_left.gif) repeat-y;
}
.border_right {
    background: url(../gfx/border_right.gif) repeat-y 100% 0;
}
.content {
	margin-top: 0px;
	margin-bottom: -12px;
    margin-left:20px;
    margin-right:20px;
    background-color:white;
}
.border_bottom {
    height:23px;
    background: url(../gfx/border_bottom.gif) repeat-x;
}
.border_bottomleft {
    width:21px;
    height:23px;
    float:left;
    background: url(../gfx/border_bottomleft.gif) no-repeat;
}
.border_bottomright {
    width:17px;
    height:23px;
    float:right;
    background: url(../gfx/border_bottomright.gif) no-repeat;
}
/* end Taskbox art */
/* Taskbox tags */
#taskbox, .launchpadbox {
	clear: both;
	background-color: #FFF;
	margin-top: 0px;
	margin-bottom: 20px;
}
h2 {
	font-size: 12pt;
	line-height: 14pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	color: #778fbd;
	margin-top: 0;
	margin-bottom: 14px;
}
.taskprimtext {
	clear: both;
	padding-bottom: 8px;
}
/*DIFFERENT tag specs than task_bulleted.css */
.taskprimbullet  {
	float: left;
}
.taskauxlist { font-size: 7pt; font-family: "Lucida Grande", Arial, sans-serif; margin-bottom: 8px; }
.taskauxbullet {
	float: left;
	color: #778fbd;
	font-size: 7pt;
	margin-top: 3px;
	margin-bottom: 0;
}
.taskprimarttexttable {
	display: table;
}
.taskprimarttextcellspace {
	display: table-cell;
	width: 10px;
}
.taskprimarttextcell {
	display: table-cell;
	vertical-align: top;
}
.taskprimarttextlongtext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	margin-bottom: 8px;
}
/* end */
.taskprimcontent {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.taskprimtexttext, .taskprimarttext { }
.taskprimtexttextshorttext, .taskprimarttextshorttext {
	font-size: 11pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	line-height: 13pt;
	margin-top: 0px;
	margin-bottom: 8px;
	color: #778FBD;
}
.taskprimtexttextlongtext, .taskprimarttextlongtext {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
	margin-bottom: 8px;
}
.taskprimarttextart {
	display: table-cell;
}
/* end Taskbox tags */
#art2 {
	margin-top: 0;
	padding-bottom: 12px;
}
#outrobox {
	margin-top: 0;
	margin-bottom: 0;
}
/* is linkseparator */
#rule  {
	height: 3px;
	background: url(../gfx/rule.gif) repeat-x;
	margin-top: 20px;
	margin-bottom: 0px;
}
/* Below rule tags (related topics etc.) */
#linkinternalbox, #linkexternalbox {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 16px;
}
h3 {
	font-size: 9pt;
	line-height: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
.linkinternal, .linkexternal {
	color: #666;
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	line-height: 12pt;
	text-decoration: none;
	margin-top: 4px;
	margin-bottom: 0px;
}
.linkarrow {
	font-family: "Apple Symbol", Arial, sans-serif;
	font-size: 8pt;
}
#linkfeedbackbox {
	margin-top: 30px;
	margin-bottom: 0px;
}
.linkfeedback {
	font-size: 9pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 12pt;
}
.linkfeedbackicon {
	vertical-align: -15%;
}
/* end Below rule tags */
/* new styles for tables */
.table { 
	margin-top: 0; 
	margin-bottom: 0; 
}
.tableheadupperprefix { 
	font-family: "Lucida Grande", Arial, sans-serif; 
	font-size: 8pt; font-weight: bold; 
	letter-spacing: 0.1em; 
	color: #006A71; 
	text-transform: uppercase; 
	margin-top: 10px; 
	margin-bottom: 0; 
	padding-right: 10px; 
}
.tableheadlowerprefix { 
	font-family: "Lucida Grande", Arial, sans-serif; 
	font-size: 9pt; 
	font-weight: bold; 
	color: #006A71; 
	font-variant: normal; 
	text-transform: none; 
	margin-top: 10px; 
	margin-bottom: 10px; 
	padding-right: 10px; 
}
.tableprimtext { 
	font-size: 9pt; 
	font-family: "Lucida Grande", Arial, sans-serif; 
	line-height: 12pt; 
	padding-right: 10px; 
}
.tableprimtextblue { 
	color: #778fbd; 
	font-family: "Lucida Grande", Arial, sans-serif; 
	font-weight: bold; 
}
.row-rule { 
	font-family: "Lucida Grande", Arial, sans-serif; 
	margin: 0; 
	padding: 0; 
	border-bottom: 1px solid #ccc; 
}
.row-norule { 
	font-family: "Lucida Grande", Arial, sans-serif; 
	margin: 0 0 0; 
	padding: 0; }
.subbullet {
	float: left;
	color: #778fbd;
	font-size: 7pt;
	line-height: 12pt;
	font-family: "Lucida Grande";
	margin-top: 6px;
	margin-right: 0;
	margin-bottom: 0; 
}
/* iapps toc separator */
.rule {
	height: 2px;
	background: url(../gfx/rule.gif) repeat-x;
	margin-top: 20px;
	margin-bottom: 0;
}
