<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>zero</string>
	</array>
	<array>
		<string>one</string>
		<string>first</string>
		<string>single</string>
		<string>1st</string>
	</array>
	<array>
		<string>two</string>
		<string>second</string>
		<string>other</string>
		<string>2nd</string>
	</array>
	<array>
		<string>three</string>
		<string>third</string>
		<string>3rd</string>
	</array>
	<array>
		<string>four</string>
		<string>fourth</string>
		<string>4th</string>
	</array>
	<array>
		<string>five</string>
		<string>fifth</string>
		<string>5th</string>
	</array>
	<array>
		<string>six</string>
		<string>sixth</string>
		<string>6th</string>
	</array>
	<array>
		<string>seven</string>
		<string>seventh</string>
		<string>7th</string>
	</array>
	<array>
		<string>eight</string>
		<string>eighth</string>
		<string>8th</string>
	</array>
	<array>
		<string>nine</string>
		<string>nineth</string>
		<string>9th</string>
	</array>
	<array>
		<string>ten</string>
		<string>tenth</string>
		<string>10th</string>
	</array>
	<array>
		<string>eleven</string>
		<string>eleventh</string>
		<string>11th</string>
	</array>
	<array>
		<string>twelve</string>
		<string>twelfth</string>
		<string>12th</string>
	</array>
	<array>
		<string>thirteen</string>
		<string>thirteenth</string>
		<string>13th</string>
	</array>
	<array>
		<string>fourteen</string>
		<string>fourteenth</string>
		<string>14th</string>
	</array>
	<array>
		<string>fifteen</string>
		<string>fifteenth</string>
		<string>15th</string>
	</array>
	<array>
		<string>sixteen</string>
		<string>sixteenth</string>
		<string>16th</string>
	</array>
	<array>
		<string>seventeen</string>
		<string>seventeenth</string>
		<string>17th</string>
	</array>
	<array>
		<string>eighteen</string>
		<string>eighteenth</string>
		<string>18th</string>
	</array>
	<array>
		<string>nineteen</string>
		<string>nineteenth</string>
		<string>19th</string>
	</array>
	<array>
		<string>twenty</string>
		<string>twentieth</string>
		<string>20th</string>
	</array>
	<array>
		<string>21st</string>
	</array>
	<array>
		<string>22nd</string>
	</array>
	<array>
		<string>23rd</string>
	</array>
	<array>
		<string>24th</string>
	</array>
	<array>
		<string>25th</string>
	</array>
	<array>
		<string>26th</string>
	</array>
	<array>
		<string>27th</string>
	</array>
	<array>
		<string>28th</string>
	</array>
	<array>
		<string>29th</string>
	</array>
	<array>
		<string>30th</string>
	</array>
	<array>
		<string>31st</string>
	</array>
</array>
</plist>
