{
    // Menu item
    "anchor:keyboardcommands" = "Keyboard%20Commands.pdf";

    // Licensing
    "anchor:licenses" = "#managingyouromnilicenses";
    "anchor:profeatures" = "#standardandpro";

    // About Panel
    "anchor:shortcutrecorder" = "ShortcutRecorderlicense.html";
    
    // First Run
    "anchor:syncsetup" = "#gettingsynced";

    // Preferences
    "anchor:generalpreferences" = "#general";
    "anchor:organizationpreferences" = "#organization";
    "anchor:layoutpreferences" = "#layout";
    "anchor:dateandtimepreferences" = "#datestimes";
    "anchor:notificationpreferences" = "#notifications";
    "anchor:syncpreferences" = "#synchronization";
    "anchor:updatepreferences" = "#update";

    // General Preferences: clippings shortcut
    "anchor:how-to-set-clipping-shortcut" = "#settingupaclippingsshortcut";
    
    // Archiving
    "anchor:archiving" = "#creatinganarchive";
}
